/* ## Above nav Style 2 */

.large-above-menu.style-2 {
    > .widget:not(:last-child) {
        padding-right: 40px;
    }

    /* ### Anpstext */

    .widget_anpstext {
        line-height: 1.6em;

        .fa,
        .important {
            font-size: 18px;
        }

        .fa {
            margin-right: 5px;
        }
    }

    .contact-info li {
        line-height: 1.6em;
        padding-left: 0;

        + li {
            margin-left: 19px;
        }

        .fa {
            border: none;
            height: auto;
            line-height: 1.6em;
            margin-right: 10px;
            position: relative;
            transform: translateY(0);
            width: auto;
        }
    }
}
