/* ## Accordion */

.faq,
.panel {
    .anps-style-1 & {
        @include box-shadow;
    }

    .anps-style-2 & {
        border-bottom: 1px solid #3f3f61;
    }
}

.faq + .faq {
    border-top: none;
}

.panel-body {
    background-color: #fff;
    padding: 25px;
    padding-top: 0;

    .anps-style-2 & {
        background: none;
        color: #7a6b8d;
        padding: 0;
        padding-bottom: 30px;
    }

    @media (min-width: 768px) {
        padding: 39px;
        padding-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

.panel-title {
    font-size: 16px;
    margin: 0;
    position: relative;
    z-index: 1;

    span + i {
        margin-left: 10px;
        margin-right: 0;
    }

    i {
        margin-right: 10px;
    }
}

.panel-heading {
    background-color: #fff;
    position: relative;
    z-index: 2;

    .anps-style-2 & {
        background: none;
    }

    a {
        color: var(--anps-primary);
        font-weight: 600;
        display: block;
        margin: -1px 0;
        min-height: 50px;
        padding: 25px;
        transition: .3s color, .2s background-color, .2s border-color, padding .3s;

        .anps-style-2 & {
            color: #fff;
            font-size: 18px;
            padding: 30px 0 20px 0;

            &.collapsed {
                padding: 30px 0;
            }
        }

        &:hover,
        &:focus {
            .anps-style-2 & {
                color: rgba(255, 255, 255, .7) !important;
            }
        }

        &.collapsed {
            color: var(--anps-headings);

            .anps-style-2 & {
                color: #fff;
            }
        }

        @media (min-width: 768px) {
            padding: 37px 74px 37px 39px;
        }
    }
}

/** Panel shapes  */

.panel-shape-rounded {
    border-radius: 6px;
}

.panel-shape-round {
    border-radius: 15px;
    overflow: hidden;
}

/** Icons */

.panel-icon-chevron .panel-heading,
.panel-icon-plus .panel-heading,
.panel-icon-triangle .panel-heading {
    a {
        &::after {
            color: var(--primary);
            font-size: 18px;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            width: 94px;
            z-index: 2;
        }
    }
}

.panel-icon-chevron.anps-style-2 .panel-heading,
.panel-icon-plus.anps-style-2 .panel-heading,
.panel-icon-triangle.anps-style-2 .panel-heading {
    a {
        &::after {
            width: 24px;
        }
    }
}

.panel-icon-chevron .panel-heading a {
    &.collapsed::after {
        transform: translateY(-50%) rotate(-90deg);
    }

    &::after {
        content: "\f104";
        font-family: "FontAwesome";
        transform: translateY(-50%) rotate(0);
        transition: .2s transform;
    }
}

.panel-icon-triangle .panel-heading a {
    &.collapsed::after {
        content: "\f0d7";
    }

    &::after {
        content: "\f0d9";
        font-family: "FontAwesome";
    }
}

.panel-icon-plus .panel-heading a {
    &.collapsed::after {
        content: "+";
    }

    &::after {
        content: "-";
    }
}

.panel-icon-align-left {
    .panel-title a {
        padding-left: 74px;
        padding-right: 20px;

        &::after {
            left: 0;
        }
    }

    &.anps-style-2 {
        .panel-title a {
            padding-left: 44px;
        }
    }
}

.panel-icon-align-right {
    a {
        &::after {
            right: 0;
        }
    }
}

.collapsing {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height .35s ease;
}

.collapse {
    display: none;

    &.in {
        display: block;
    }
}
