/* ## Alert */

.alert,
div.wpcf7-mail-sent-ng,
div.wpcf7-validation-errors {
    background: #f0f0f0;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    color: #9d9d9d;
    line-height: 1.2em;
    margin-bottom: 15px;
    min-height: 47px;
    padding: 12px 60px 11px 67px;
    position: relative;

    &.alert-no-icon {
        padding-left: 15px;

        &::after {
            display: none;
        }
    }

    &::before,
    > i {
        color: inherit;
        font-size: 14px;
        left: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: 48px;
        z-index: 2;
    }

    &::before {
        display: none;
    }

    &::after {
        border-right: 1px solid;
        border-color: inherit;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 48px;
        z-index: 1;
    }

    .close {
        background: transparent;
        border: none;
        color: inherit;
        float: right;
        height: 48px;
        opacity: .2;
        padding: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity .2s;
        width: 48px;

        &:focus,
        &:hover {
            opacity: .5;
        }

        i {
            height: auto;
            line-height: 22px;
            padding: 0;
            text-align: center;
            top: 0;
            vertical-align: top;
            width: 46px;
        }
    }

    a:not(.alert-link) {
        color: rgba(0, 0, 0, .85);

        &:hover {
            color: rgba(0, 0, 0, 1);
        }
    }

    .button {
        background: none;
        display: inline;
        margin-right: 10px;
        padding: 7px 0;
        position: relative;
        top: -1px;

        &:hover,
        &:focus {
            background: none;
        }
    }
}

.alert-heading {
    color: inherit;
    font-size: 21px;
    margin-bottom: 5px;
    margin-top: 0;
}

.alert-link {
    font-weight: bold;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.alert-maps {
    margin: 20px auto;
    max-width: 1140px;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-validation-errors {
    margin: 0;

    &::before {
        content: "\f12a";
        display: block;
        font-family: "FontAwesome";
    }
}

div.wpcf7-mail-sent-ok {
    background: #7add51;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 7px;
    min-height: 22px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-top: 10px;
    position: relative;

    &::before {
        content: "\f00c";
        display: block;
        font-family: "FontAwesome";
        left: 0;
        margin-left: 20px;
        position: absolute;
    }
}

div.wpcf7-validation-errors,
.alert-danger-style-2,
.alert-info-style-2,
.alert-normal-style-2,
.alert-success-style-2,
.alert-useful-style-2,
.alert-warning-style-2,
div.wpcf7-mail-sent-ng {
    border-color: rgba(0, 0, 0, .05);
    color: #fff;

    .close {
        color: #fff;
        opacity: .4;
    }
}

.alert-info {
    background: #f7f7f9;
    border-color: #eee;
    color: #818a91;

    .alert-link {
        color: #555;
    }
}

.alert-info-style-2 {
    background: #fab702;
}

.alert-danger {
    background: #f2dede;
    border-color: #ebcccc;
    color: #a94442;

    .alert-link {
        color: #843534;
    }
}

.wpcf7 div.wpcf7-validation-errors.wpcf7-response-output,
.alert-danger-style-2,
div.wpcf7-mail-sent-ng {
    background: #fa7267;
    margin-top: 20px;
}

.alert-warning {
    background: #fcf8e3;
    border-color: #f7eec5;
    color: #8a6d3b;

    .alert-link {
        color: #66512c;
    }
}

.alert-warning-style-2 {
    background: #ffd500;
}

.alert-success {
    background: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;

    .alert-link {
        color: #2b542c;
    }
}

.alert-success-style-2 {
    background: #7add51;
}

.alert-useful {
    background: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;

    .alert-link {
        color: #245269;
    }
}

.alert-useful-style-2 {
    background: #77dcff;
}

.alert-normal {
    background: #e9dfea;
    border-color: #d9cddc;
    color: #8d7b92;

    .alert-link {
        color: #6b5c6f;
    }
}

.alert-normal-style-2 {
    background: #bd8bc7;
}
