/* ## Appointment */

.appointment {
    @include shadow;

    @media (min-width: $screen-sm) {
        display: table;

        > * {
            display: table-cell;
            width: 50%;
        }
    }
}

.appointment-media {
    margin-bottom: 30px;

    img {
        width: 100%;
    }
}

.appointment-content {
    background-color: #fbfbfb;
    padding-bottom: 30px;
}

.appointment-title.title {
    font-size: 18px;
    margin-top: 0;
    text-transform: uppercase;
}

.appointment-text,
.appointment-title.title {
    $padding-mobile: 30px;
    $padding: 50px;

    padding-left: $padding-mobile;
    padding-right: $padding-mobile;

    @media (min-width: $screen-sm) {
        padding-left: $padding;
        padding-right: $padding;
    }
}

.appointment-form {
    background-color: #fff;
    padding: 20px;

    p {
        margin-bottom: 0;

        + p {
            margin-top: 18px;
        }
    }

    @media (min-width: $screen-sm) {
        padding: 40px;
    }

    @media (min-width: $screen-md) {
        padding: 60px;
        vertical-align: middle;
    }

    @media (min-width: $screen-lg) {
        padding: 80px 90px;
    }
}
