/* ## Breadcrumbs */

/* colors */

.breadcrumb {
    background-color: var(--anps-breadcrumbs-bg-color);
    border-bottom: 1px;
    border-color: var(--anps-breadcrumbs-border-color);
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-top: 0;
    font-size: 13px;
    padding: 12px 0;
    position: relative;
    z-index: 1;

    ol,
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        color: var(--anps-breadcrumbs-color);
        display: inline-block;
        list-style: none;
        margin: 5px 50px 5px 0;
        position: relative;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;

            &::before {
                display: none;
            }
        }

        &::before {
            content: "\f105";
            font-family: "FontAwesome";
            font-size: 14px;
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.page-header + .breadcrumb {
    margin-top: -1px;
}

@media (min-width: 1200px) {
    .full-width + .site-main > .breadcrumb:first-child {
        padding-top: 50px;
    }
}
