/* ## Comments */

.comments-list,
.comments-list .children {
  list-style: none;
  padding: 0;

  .comment-respond {
    margin-bottom: 30px;

    @media (min-width: 768px) {
      margin-bottom: 50px;
    }
  }
}

.pingback,
.comment {
  padding: 30px 0;

  @media (min-width: 768px) {
    padding: 50px 0;
  }

  &.depth-1 {
    border-top: 1px solid #f1f1f1;
  }

  &:first-child {
    border-top: none;
  }
}

.comment {
  &__wrap {
    position: relative;

    @media (min-width: 500px) {
      display: flex;
    }
  }

  & .comment__content {
    @media (min-width: 500px) {
      padding-left: 20px;
    }

    @media (min-width: 768px) {
      padding-left: 30px;
    }
  }

  > .children {
    @media (min-width: 992px) {
      padding-left: 65px;
    }

    @media (min-width: 1200px) {
      padding-left: 95px;
    }

    .depth-2 {
      @media (max-width: 991px) {
        padding-left: 65px;
      }

      @media (max-width: 499px) {
        padding-left: 35px;
      }
    }

    .comment {
      padding-bottom: 0;
    }
  }
}

.pingback {
  .comment-meta {
    margin-bottom: 10px;

    @media (max-width: 767px) {
      &__author {
        display: block;
      }
    }
  }
}

.comment {
  .comment {
    &__avatar {
      border-radius: 50%;
      flex-shrink: 0;
      height: 30px;
      overflow: hidden;
      width: 30px;

      @media (max-width: 499px) {
        left: 0;
        position: absolute;
        top: 0;
      }

      @media (min-width: 500px) {
        height: 45px;
        width: 45px;
      }

      @media (min-width: 768px) {
        height: 66px;
        width: 66px;
      }

      img {
        border-radius: 50%;
      }
    }
  }

  .comment-meta {
    margin-bottom: 10px;

    @media (max-width: 499px) {
      align-items: center;
      display: flex;
      height: 30px;
      padding-left: 40px;
    }

    &__author {
      margin-right: 7px;
    }

    &__author-badge {
      background-color: var(--anps-secondary);
      border-radius: 2px;
      color: var(--anps-secondary-background);
      display: none;
      font-size: 12px;
      margin-right: 7px;
      padding: 0 9px;

      .bypostauthor & {
        display: inline-block;
      }
    }
  }
}

.comment-edit-link,
.comment-reply-link {
  display: inline-block;
  font-size: 85%;
  margin-top: 10px;
  opacity: 0.85;
}

.comment-reply-link + .comment-edit-link {
  &::before {
    content: "/";
    margin: 0 7px;
  }
}

.comment-form {
  .anps-btn {
    margin-right: 15px;
  }
}

.comment-respond {
  &::before {
    clear: both;
    content: "";
    display: table;
  }
}

.woocommerce .commentslist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.woocommerce .review {
  padding: 30px 0;
  border-top: 1px solid #f1f1f1;

  @media (min-width: 768px) {
    padding: 50px 0;
  }

  &:first-child {
    border-top: none;
  }

  .the-content {
    position: relative;

    @media (min-width: 500px) {
      display: flex;
    }
  }

  .comment-avatar {
    border-radius: 50%;
    flex-shrink: 0;
    height: 30px;
    overflow: hidden;
    width: 30px;

    @media (max-width: 499px) {
      left: 0;
      position: absolute;
      top: 0;
    }

    @media (min-width: 500px) {
      height: 45px;
      width: 45px;
    }

    @media (min-width: 768px) {
      height: 66px;
      width: 66px;
    }

    img {
      border-radius: 50%;
    }
  }

  .comment-content {
    @media (min-width: 500px) {
      padding-left: 20px;
    }

    @media (min-width: 768px) {
      padding-left: 30px;
    }

    .star-rating {
      float: none;
    }

    .meta {
      display: inline-block;
      font-size: 14px;
    }
  }
}

ol {
  .comment-respond {
    margin-bottom: 20px;
    .comment-reply-title {
      font-size: 21px;
      font-weight: bold;
      margin-bottom: 40px;
      margin-top: 30px;
      small {
        margin-left: 20px;
      }
    }
  }

  .anps-heading--reply {
    display: none;
  }
}
