/* ## Contact Cards */

.card {
    border-radius: 3px;
    display: table;
    height: 132px;
    margin-bottom: 30px;
    overflow: hidden;
    width: 100%;

    .icon {
        background-color: currentColor;
        display: table-cell;
        height: 100%;
        position: relative;
        width: 48px;

        &::after {
            border-bottom: 272px solid currentColor;
            border-left: 0;
            border-right: 90px solid transparent;
            content: "";
            height: 100%;
            position: absolute;
            right: -90px;
            top: 0;
            width: 0;
        }

        i {
            bottom: 25px;
            font-size: 28px;
            left: 25px;
            position: absolute;
            z-index: 1;
        }
    }

    .content-wrap {
        display: table-cell;
        padding: 10px 10px 10px 62px;
        position: relative;
        vertical-align: middle;
        z-index: 1;

        .item-title {
            display: inline-block;
            font-size: 16px;
        }

        .text {
            font-size: 15px;
            font-weight: bold;

            * {
                color: inherit;
            }

            a {
                text-decoration: underline;
                transition: .2s opacity;

                &:hover,
                &:focus {
                    opacity: .7;
                }
            }
        }
    }
}
