.anps-content-over {
    position: relative;
    
    @media (min-width: 768px) {
        padding: 68px 0;

        &--left {
            text-align: right;

            .anps-content-over__img {
                left: 0;
            }
        }

        &--right {
            text-align: left;

            .anps-content-over__img {
                right: 0;
            }
        }
     }

    &__img {
        background-size: cover;
        background-position: center;
        padding-bottom: 40%;
        width: 100%;
        
        @media (min-width: 768px) {
            height: 100%;
            padding: 0;
            position: absolute;
            top: 0;
            width: 55%;
        }

        @media (min-width: 992px) {
            width: 50%;
        }
    }

    &__main {
        background-color: #fff;
        display: inline-block;
        position: relative;
        text-align: left;
        padding: 45px 15px;
        width: 100%;
        z-index: 1;

        @media (min-width: 768px) {
            padding: 85px 60px;
            width: 63.5%;
        }

        @media (min-width: 992px) {
            padding: 115px 80px;
        }

        > *:first-child {
            margin-top: 0;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }
}
