/* ## Contact */

.form-group,
.wpcf7 {
    input:not([type="submit"]),
    textarea {
        @include input-field;
        color: var(--text-color);

        &:not(:focus) {
            &.alert,
            &.wpcf7-not-valid {
                background: transparent;
                border-color: #e31919;
            }
        }

        &::placeholder {
            color: var(--text-color);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: var(--text-color);
        }

        &::-ms-input-placeholder {
            color: var(--text-color);
        }
    }

    textarea {
        display: block;
        height: 212px;
        max-width: 100%;

        @media (max-width: 500px) {
            height: 150px;
        }

        &[rows="1"] {
            height: 51px;
        }

        &[rows="2"] {
            height: 117px;
        }

        &[rows="3"] {
            height: 183px;
        }

        &[rows="4"] {
            height: 249px;
        }

        &[rows="5"] {
            height: 315px;
        }
    }
}

.input-text {
    @include input-field;
    padding: 8px 15px;
}

.contact-form,
.wpcf7 {
    br {
        display: none;
    }

    label {
        font-size: 11px;
        font-weight: normal;
        opacity: .8;
        text-transform: uppercase;

        @media (min-width: 768px) {
            display: none;
        }
    }

    .form-group {
        margin-bottom: 20px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            margin-bottom: 30px;
        }

        .wpcf7-form-control-wrap {
            display: block;
        }

        .wpcf7-not-valid-tip {
            color: #e31919;
            font-size: 14px;
            position: absolute;
            right: 20px;
            top: 17px;
            z-index: 0;
        }

        .wpcf7-select {
            @include input-field;
            -moz-appearance: none;
            -webkit-appearance: none;
            width: 100%;
        }

        .alert {
            line-height: 20px;
            margin-bottom: 0;
        }
    }

    .select:after {
        content: "\f107";
        font-family: FontAwesome;
        font-size: 18px;
        height: 18px;
        line-height: 18px;
        pointer-events: none;
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 11;
    }

    .spinner i {
        font-size: 42px;
    }
}

form {
    [class*="col-"] + [class*="col-"] {
        margin-top: 0;
    }
}

select {
    max-width: 100%;
    color: var(--text-color);
}

/* Date form type */

.wpcf7-form-control-wrap[class*="date-"] {
    display: block;
    position: relative;

    input {
        appearance: none;
        background-color: #fff;
        position: relative;
    }

    &::after {
        background-color: #fff;
        content: "\f073";
        font-family: "FontAwesome";
        font-size: 18px;
        pointer-events: none;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
    }
}

.contact-form {
    > div {
        margin-bottom: 30px;
    }
}

.comment-form {
    .form-submit {
        margin-bottom: 0;
    }
}

.wpcf7-list-item {
    align-items: center;
    display: flex;
    margin: 0 !important;
    padding-left: 25px;
    position: relative;

    span::before {
        content: "";
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #ccc;
        cursor: pointer !important;
        height: 18px;
        left: 0;
        position: absolute;
        top: 5px;
        width: 18px;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }

    span::after {
        color: var(--text-color);
        cursor: pointer !important;
        font-size: 11px;
        height: 18px;
        left: 1px;
        padding: 0;
        position: absolute;
        top: 6px;
        width: 18px;
        text-align: center;
        line-height: 18px;
    }

    input[type="checkbox"],
    input[type="radio"] {
        display: none;

        &:checked + span::after {
            font-family: 'FontAwesome';
            content: "\f00c";
        }

        &:focus + span::before {
            outline-offset: -2px;
            outline: 5px auto -webkit-focus-ring-color;
            outline: thin dotted;
        }

        &:disabled + span {
            opacity: 0.65;
        }

        &:disabled + span::before {
            background-color: #eeeeee;
            cursor: not-allowed;
        }
    }
}

.checkbox {
    .wpcf7-not-valid span::before {
        background: transparent;
        border-color: #e31919 !important;
    }

    .wpcf7-not-valid-tip {
        display: none !important;
    }
}
