/* ## Download */

/* ### Content version */

*:not(.widget) > {
    .download {
        font-size: 18px;
        font-weight: 400;
        padding: 21px 15px 50px;
        position: relative;

        .btn {
            bottom: -7px;
            position: absolute;
            right: 0;
        }

        @media (min-width: $screen-sm) {
            padding: 21px 200px 21px 60px;
        }
    }

    .download-content {
        padding-left: 43px;
        position: relative;

        i {
            font-size: 30px;
            left: 0;
            margin-top: -1px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

/* ### Sidebar Version (minimal) */

.sidebar {
    .download {
        &__title {
            flex-grow: 1;
            text-align: center;
        }

        &__link {
            border-radius: 4px;
            color: #fff;
            display: block;
            font-size: 16px;
            justify-content: space-between;
            padding: 19px 20px;
            position: relative;
            text-align: center;
            transition: .2s opacity ease-in-out;

            &:hover,
            &:focus {
                opacity: .85;
            }
        }

        &__icon {
            font-size: 16px;
            height: 100%;
            margin-left: 15px;
            width: 40px;
        }
    }
}

/* ### Footer Version */

.site-footer {
    .download {
        a {
            border-radius: 4px;
            color: #fff;
            display: block;
            padding: 6px 10px 6px 47px;
            position: relative;
        }

        i {
            font-size: 16px;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 34px;

            &::after {
                background-color: rgba(255, 255, 255, .2);
                bottom: 1px;
                content: "";
                opacity: .45;
                position: absolute;
                right: 0;
                top: 1px;
                width: 1px;
            }

            &::before {
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .download-icon {
        color: #898989;
    }
}
