.gallery-simple {
    margin: -4px;

    &__item {
        float: left;
        font-size: 0;
        line-height: 0;
        padding: 4px;
        @media (min-width: 500px) {
            width: 50%;
        }
    }

    &__link {
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .12);
        display: block;
        overflow: hidden;

        img {
            transform: translate3d(0, 0, 0) scale(1.001);
            transition: .2s transform;
        }

        &:hover,
        &:focus {
            img {
                transform: translate3d(0, 0, 0) scale(1.1);
            }
        }
    }

    &--col-2 &__item {
        width: 50%;
    }

    &--col-3 &__item {
        @media (min-width: $screen-md) {
            width: 33.333%;
        }
    }

    &--col-4 &__item {
        @media (min-width: $screen-md) {
            width: 25%;
        }
    }
}
