.anps-heading {
    margin: 0;
    padding: 0;

    &__text,
    &__link {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    &--comments {
        font-size: 21px;
        font-weight: bold;
    }

    &--reply {
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    &--portfolio-single {
        margin-bottom: 15px;
    }

    &--portfolio-single-2 {
        margin-bottom: 15px;
        margin-top: 30px;
    }
}
