/* ## Info Table */

.anps-itable {
    display: table;
    width: 100%;
}

.anps-itable-item {
    display: table-row;

    &:last-child > div {
        padding-bottom: 0 !important;
    }

    &__title {
        display: table-cell;
        padding-right: 30px;
        white-space: nowrap;
        width: 1%;

    }

    &__text {
        @media (min-width: $screen-sm) {
            display: table-cell;
        }
    }
}
