/* ## Jumbotron */

.jumbotron {
    background-size: cover;
    color: #5a5a5a;
    padding-bottom: 33px;
    padding-top: 33px;

    @media (min-width: $screen-sm) {
        padding-bottom: 63px;
        padding-top: 63px;
    }

    @media (min-width: $screen-md) {
        padding-bottom: 133px;
        padding-top: 133px;
    }

    .wpb_column > .vc_column-inner:first-child {
        padding-top: 0 !important;
    }

    .wpb_column > .vc_column-inner:first-child > .wpb_wrapper {
        margin-top: 0 !important;
    }
}

.font-size-18 {
    color: #5a5a5a;
    font-size: 18px;
}
