.anps-link {
    $g: &;
    align-items: center;
    display: flex;

    &__icon-wrap,
    &__text {
        align-self: center;
    }

    &__icon-wrap,
    img,
    .fa {
        + #{$g}__text {
            padding-left: 15px;
        }
    }

    &__icon {
        color: var(--anps-secondary-background);
        font-size: 20px;
        transition: .2s color ease-in-out, .2s opacity ease-in-out;

        svg {
            height: 20px;
            width: 20px;
        }
    }

    &__icon-wrap {
        align-items: center;
        background-color: var(--anps-secondary);
        border-radius: 50%;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        text-align: center;
        transition: .2s background-color ease-in-out, .2s opacity ease-in-out;

        &--no-bg {
            background: none !important;
        }

        img {
            max-width: 50%;
        }
    }

    &__text {
        color: #777b81;
        font-size: var(--anps-body-font-size);
        transition: .2s opacity ease-in-out, .2s color ease-in-out;
    }

    &--hover {
        &:hover,
        &:focus {
            #{$g}__icon {
                color: var(--anps-secondary);

                &[style*="#"] {
                    opacity: .7;
                }
            }

            #{$g}__icon-wrap {
                background-color: var(--anps-primary);

                &[style*="#"] {
                    opacity: .7;
                }
            }

            #{$g}__text {
                &[style*="#"] {
                    opacity: .7;
                }
            }
        }
    }

    &--center {
        justify-content: center;
    }
}
