/***
 * List
 */

.list {
    list-style: none;
    margin: 20px 0;
    padding: 0;

    li {
        + li {
            margin-top: 11px;
        }

        &::before {
            font-family: "FontAwesome";
            margin-right: 14px;
        }
    }

    &-default {
        li::before {
            content: "\f14a";
        }
    }

    &-circle-arrow {
        li::before {
            content: "\f138";
        }
    }

    &-triangle {
        li::before {
            content: "\f0da";
        }
    }

    &-hand {
        li::before {
            content: "\f087";
        }
    }

    &-square {
        li::before {
            content: "\f0c8";
        }
    }

    &-arrow {
        li::before {
            content: "\f105";
        }
    }

    &-circle {
        li::before {
            content: "\f111";
        }
    }

    &-circle-check {
        li::before {
            content: "\f058";
        }
    }
}

ol.list {
    font-weight: bold;
    list-style: decimal;
    margin-left: 14px;

    span {
        font-weight: normal;
        padding-left: 11px;
    }
}
