/* ## Owl carousel */

.owl-wrap {
    position: relative;

    @media (max-width: ($screen-sm - 1px)) {
        padding: 0 30px;
    }
}

/* ### Style 1 */

.owl-nav {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;

    button {
        background-color: #1bc2a1;
        border: none;
        color: #fff;
        font-size: 18px;
        height: 40px;
        line-height: 34px;
        position: relative;
        transition: .2s background-color;
        width: 49px;

        &:first-of-type {
            border-radius: 3px 0 0 3px;

            &:focus,
            &:hover {
                &::after {
                    opacity: 0;
                }
            }

            &::after {
                background-color: rgba(0, 0, 0, .2);
                content: "";
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                transition: .2s opacity;
                width: 1px;
            }
        }

        &:last-of-type {
            border-radius: 0 3px 3px 0;
        }

        &:focus,
        &:hover {
            background-color: #16a085;
        }

        &:focus {
            outline: none;
        }

        i {
            line-height: 1em;
            text-align: center;
        }
    }
}

/* ### Style 2 */

.owl-nav-style-2 {
    .owlnext,
    .owlprev {
        appearance: none;
        background: none;
        border: none;
        color: #878787;
        font-size: 21px;
        opacity: .3;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: .4s opacity;
        z-index: 10;

        @media (min-width: $screen-sm) {
            font-size: 36px;
        }

        &:focus,
        &:hover {
            opacity: 1;
            outline: none;
        }
    }

    .owlnext {
        right: 0;
        text-align: right;

        @media (min-width: $screen-sm) {
            right: -65px;

            .boxed & {
                right: -35px;
            }
        }
    }

    .owlprev {
        left: 0;
        text-align: left;

        @media (min-width: $screen-sm) {
            left: -65px;

            .boxed & {
                left: -35px;
            }
        }
    }
}
