/* ## Scroll to top */

.anps-popup {
    align-items: center;
    background-color: var(--anps-whitelist-token-overlay-bg-color);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: 15px;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: .3s opacity;
    width: 100%;
    z-index: 9999;

    .admin-bar & {
        padding-top: 60px;

        @media(max-width: ($screen-sm - 1)) {
            padding-top: 60px;
        }
    }

    @media(min-width: $screen-sm) {
        padding: 30px;
    }

    &--active {
        opacity: 1;
        pointer-events: all;
    }

    &__wrap {
        background-color: #fff;
        box-shadow: 0 30px 55px -15px rgba(0,0,0,0.2);
        display: flex;
        max-height: 100%;
        max-width: 1000px;
        overflow-x: auto;
        position: relative;
        width: 100%;

        &--noimg {
            max-width: 500px;
        }
    }

    &__row {
        width: 100%;

        @media(min-width: $screen-sm) {
            display: flex;
        }
    }

    &__content {
        flex: 1;
        overflow: auto;
        padding: 30px;

        @media(min-width: $screen-sm) {
            padding: 50px;
        }

        .anps-btn {
            margin-top: 10px;
        }
    }

    &__img {
        @media(min-width: $screen-sm) {
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 50%;
        }
    }

    &__title {
        margin: 0;
        padding-bottom: 10px;
    }

    &__text {
        margin: 0;
        padding-bottom: 10px;
    }

    &__form {
        margin-top: 10px;

        .anps_whitelist_data_row {
            margin-bottom: 15px;
            position: relative;
        }

        input {
            appearance: none;
            background-color: #fff;
            border-radius: 3px;
            border: solid 1px #e7e7e7;
            color: var(--anps-primary);
            font-size: 14px;
            margin: 0;
            padding: 9px 15px;
            transition: .2s border-color;
            width: 100% !important;

            &:focus {
                border-color: #bbb;
                outline: none;
            }
        }

        ::placeholder {
            color: var(--anps-text-color);
            opacity: 1;
        }

        .anps-upload__label {
            background: #fff;
            border-radius: 3px;
            border: solid 1px #e7e7e7;
            color: var(--anps-text-color);
            display: block;
            font-size: 14px !important;
            font-weight: 400;
            padding: 9px 15px 9px 38px;
            transition: background .3s;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: red !important;
                opacity: 1; /* Firefox */
            }

            &:hover {
                color: var(--anps-primary);
                cursor: pointer;
            }

            &::after {
                content: '\f093';
                color: #ccc;
                font-family: FontAwesome;
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                left: 15px;
                margin: 0;
                padding-bottom: 2px;
                position: absolute;
                text-decoration:none;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .anps-upload__input {
            bottom: 0;
            font-size: 1px;
            height: 100%;
            left: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
        }
    }

    &__close {
        appearance: none;
        background: transparent;
        border: none;
        color: #000;
        font-size: 20px;
        opacity: .3;
        position: absolute;
        right: 24px;
        top: 15px;
        transition: .2s color;

        @media(min-width: 600px) {
            right: 30px;
            top: 20px;
        }

        &:hover {
            opacity: 1;
            outline: none;
        }
    }
}
