/* ## Products */

$product-top-margin: 50px;

.products:not(.related):not(.upsells) {
	margin-left: -15px;
	margin-right: -15px;
}

.products {
    list-style: none;
    margin-top: -40px;
    padding: 0;
    position: relative;

    &::after {
        clear: both;
        content: "";
        display: table;
    }

    &:not(.related):not(.upsells) {
        padding-bottom: 45px;
    }

    @media (min-width: $screen-xs) {
        .col-xs-6:nth-of-type(2n + 1) { clear: left; }
    }

    @media (min-width: $screen-sm) {
        .col-sm-4:nth-of-type(n) { clear: none; }

        .col-sm-4:nth-of-type(3n + 1) { clear: left; }
    }

    @media (min-width: $screen-md) {
        margin-top: -$product-top-margin;

        .col-md-3:nth-of-type(n) { clear: none; }

        .col-md-3:nth-of-type(4n + 1) { clear: left; }
    }

    .add-to-cart-wrapper,
    .product-header::before { transition: .3s opacity; }

    .product-header:hover {
        .add-to-cart-wrapper {
            opacity: 1;
        }

        .button {
            transform: translateY(0);
        }
    }

    .product-header > a {
        display: block;
    }

    .add-to-cart-wrapper {
        align-items: center;
        background-color: rgba(0, 0, 0, .1);
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: 0;
        transition: .2s opacity ease-in-out, .2s background-color ease-in-out;
        width: 100%;
        z-index: 1;

        .anps-mobile & {
            display: none;
        }
    }

    .button {
        background-color: rgba(255, 255, 255, .85);
        border-radius: 50%;
        color: var(--anps-headings);
        display: inline-block;
        height: 80px;
        margin: 0 10px;
        overflow: hidden;
        pointer-events: all;
        text-indent: -999px;
        transform: translateY(40px);
        transition: .2s transform ease-in-out, .2s background-color ease-in-out, .3s box-shadow ease-in-out;
        width: 80px;

        &:hover,
        &:focus {
            background-color: #fff;
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1);
            transform: translateY(2px) !important;
        }

        &::before {
            font-family: FontAwesome;
            font-size: 20px;
            left: 50%;
            position: absolute;
            text-indent: 0;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .anps-product-more {
        &::before {
            content: "\f067";
        }
    }

    .added_to_cart {
        &::before {
            content: "\f291";
        }
    }

    .add_to_cart_button {
        &::before {
            content: "\f291";
        }

        &.loading {
            &::before {
                content: "\f141";
            }
        }

        &.added {
            &::before {
                content: "\f00c";
            }
        }
    }
}

.products.related,
.products.upsells {
    margin-top: 0;
}

.product {
    margin-bottom: 0 !important;
    margin-top: 40px;

    .price {
        float: left;
    }

    @media (max-width: 400px) {
        width: 100%;
    }

    @media (min-width: $screen-md) {
        margin-top: $product-top-margin;
    }
}

.product-header {
    position: relative;
    text-align: center;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 23px;
	margin-bottom: 5px;
}

.onsale {
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #fff;
    display: flex;
    font-size: 11px;
    line-height: 1em;
    height: 42px;
    min-width: 42px;
    padding: 10px 5px;
    position: absolute;
    right: -4px;
    text-transform: uppercase;
    top: -4px;
    z-index: 1;
}

.product-single > .row {
    .onsale {
        left: 11px;
        right: auto;
    }

    .product-title {
        font-size: 28px;
    }

    .zoom {
        transition: opacity .4s;

        &:hover,
        &:focus {
            opacity: .8;
        }
    }
}

.product-single {
    .tabs {
        margin-top: 30px;

        @media (min-width: 768px) {
            margin-top: 60px;
        }
    }
}

.price {
    font-size: 20px;
    text-decoration: none;

    ins {
        text-decoration: none;
    }

    del {
        color: #878c94;
    }
}

.before-loop {
    @include clearfix;
    margin-bottom: 20px;

    .woocommerce-result-count {
        color: #a3a3a3;
    }

    @media (min-width: $screen-sm) {
        .woocommerce-result-count {
            float: left;
        }

        .woocommerce-ordering {
            float: right;
            margin-top: -10px;
            position: relative;

            select {
                appearance: none;
                background: none;
                border-radius: 3px;
                padding-right: 35px;
                position: relative;
                z-index: 1;
            }

            &::before {
                content: "\f107";
                font-family: FontAwesome;
                pointer-events: none;
                position: absolute;
                right: 18px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
}

body.product-single > .row {
    .product:not(.related) .product-title {
        display: block;
        font-size: 36px;
        margin-bottom: 50px;
        width: 100%;
    }

    .product-image {
        position: relative;
        top: 8px;
    }

    .product-title {
        margin-bottom: 60px;
    }
}

.btn.btn-md.single_add_to_cart_button,
.button.single_add_to_cart_button {
    padding: 9px 28px 8px;
}

.product-top-meta {
    .woocommerce-review-link {
        font-size: 12px;
        text-transform: uppercase;
    }

    .price {
        float: none;
        font-size: 26px;
        height: auto;
        line-height: 34px;
        margin-right: 15px;
        padding-top: 2px;
    }
}

.product_meta {
    border-top: 1px solid #ebf2f6;
    color: #292929;
    font-size: 14px;
    font-weight: bold;
    margin-top: 47px;
    padding-top: 35px;

    > span {
        display: block;

        > * {
            font-weight: normal;
        }
    }

    .posted_in {
		font-size: 14px;
        margin-bottom: 15px;
    }

    .sku_wrapper {
        margin-bottom: 10px;
    }
}

.woocommerce-product-details__short-description {
    margin-top: 30px;
}

.orderform {
    margin-top: 35px;
    padding-left: 100px;
    position: relative;

    .minus, .plus {
        background: none;
        border: 1px solid $border-color;
        border-style: none none none solid;
        font-size: 14px;
        height: 50%;
        position: absolute;
        right: 1px;
        transition: .2s background-color;
        width: 25px;
    }

    .btn.btn-md,
    .button {
        @media (min-width: $screen-md) {
            width: 100%;
        }
    }

    .plus {
        border-bottom-style: solid;
        top: 0;
    }

    .minus {
        bottom: 0;
    }

    .quantity-field {
        -moz-appearance: textfield;
        border: 1px solid $border-color;
        border-radius: 4px;
        display: inline-block;
        height: 40px;
        padding-right: 25px;
        text-align: center;
        width: 84px;
    }

    .quantity {
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 84px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.thumbnails {
    margin-top: 15px;

    &::after {
        clear: both;
        content: "";
        display: table;
    }

    &.columns-3 a,
    > figure {
        float: left;
        margin: 1%;
        width: 32%;
    }

    a.first { margin-left: 0; }

    a.last { margin-right: 0; }
}

.table.shop_attributes {
    margin: 0;

    td, th {
        vertical-align: middle;
    }

    th {
        text-align: left;
        white-space: nowrap;
        width: 1px;
    }
}

p.woocommerce-noreviews {
    margin-bottom: 20px;
}

.variations {
    td + td {
        padding-left: 15px;
    }

    .reset_variations {
        margin-left: 15px;
    }
}

.woocommerce-variation-price .price {
    display: inline-block;
    float: none;
    font-size: 24px;
    margin-right: 7px;
    margin-top: 20px;
}

.woocommerce-variation-price,
.woocommerce-variation-availability {
    display: inline-block;
}

/* ### Inline cart button */

.product.add_to_cart_inline {
    border: none !important; /* Overwrite default WooCommerce style */
    clear: both;
    float: left;
    font-size: 16px;
    margin: 0;
    padding: 11px 0 !important; /* Overwrite default WooCommerce style, same padding as button */

    + .add-to-cart-wrapper {
        float: left;
        margin-left: 20px;
    }
}

/* ### Recent products spacing */

.single-product .related.products,
.single-product .products.upsells {
    margin-top: 30px;
}

/* ### Gallery slider */

.woocommerce div.product div.images .flex-control-thumbs {
    overflow: hidden;
    zoom: 1;
    margin: 2px -4px 0;
    padding: 0;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 4px 4px;
    list-style: none;
}

.woocommerce div.product div.images .flex-control-thumbs img:hover,
.woocommerce div.product div.images .flex-control-thumbs img:focus {
    opacity: .7;
}

.woocommerce div.product div.images .flex-control-thumbs img {
    cursor: pointer;
    margin: 0;
    opacity: .5;
    transition: .2s opacity;
}

.flex-active {
    opacity: 1 !important;
    transition: .2s opacity;
}

.woocommerce div.product div.images img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: none;
}

.woocommerce-product-gallery {
    position: relative;
}

.woocommerce-product-gallery__trigger {
    color: transparent !important;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 19px;
    height: 50px;
    z-index: 9999;
    text-align: center;
    width: 50px;

    img {
        display: none !important;
    }

    &::before {
        color: #fff;
        content: "\f00e";
        font-family: FontAwesome;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.place-order {
    text-align: right;
}

#review_form_wrapper {
    margin-top: 15px;
}

#review_form form {
    margin-top: 15px;
}

.woocommerce .select2-selection--single,
.select2-dropdown {
    border-color: #f1f1f1;
    height: auto !important;
    padding: 12px 10px;
    text-align: left;
    width: 100%;
}

.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 100%;
}

.woocommerce .select2-container .select2-selection--single,
.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    margin-right: 10px;
}

.woocommerce-table--order-details {
    margin-bottom: 30px;
    margin-top: 15px;
}

.woocommerce-order-overview {
    margin-bottom: 30px;
}

.variations_form {
    margin-top: 30px;
}

.woocommerce-EditAccountForm em {
    display: inline-block;
    font-size: 90%;
    margin-top: 10px;
    opacity: .6;
}

.woocommerce-product-gallery {
    @media (max-width: 992px) {
        margin-bottom: 30px;
    }
}

.related,
.upsells {
    h2 {
        font-size: 24px;
        margin-bottom: 40px;
        margin-top: 60px;
    }
}
