/* ## Search */

/* ### Search Notice */

.search-notice-field {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    color: inherit;
    margin-bottom: 20px;
    padding: 15px 23px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.search-notice-title {
    color: inherit;
    font-size: 24px;
    margin: 0;
}

.search-notice-label {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 15px;
}

/* ### Search Results */

.search-result {
    border-bottom: 1px solid $border-color;
    padding-bottom: 21px;

    a {
        display: inline-block;
    }

    + .search-result {
        margin-top: 26px;
    }
}

.search-result-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.search-result-content {
    margin: 3px 0 0;
}

.search-notice + .content-container {
    padding-top: 40px;
}

body.search .content-container {
    background: #fff;
}
