/* ## Star rating */

.star-rating {
    display: block;
    font-family: "FontAwesome";
    font-size: 13px;
    height: 18px;
    line-height: 1em;
    overflow: hidden;
    position: relative;
    text-indent: 999px;
    white-space: nowrap;
    width: 63px;

    &::before {
        content: "\f006\f006\f006\f006\f006";
        left: 0;
        position: absolute;
        text-indent: 0;
        top: 0;
    }

    span {
        left: 0;
        overflow: hidden;
        padding-top: 2em;
        position: absolute;
        top: 0;

        &::before {
            content: "\f005\f005\f005\f005\f005";
            left: 0;
            position: absolute;
            text-indent: 0;
            top: 0;
        }
    }

    /* ### Inside Product */

    .product & {
        float: right;
        text-indent: 0;
        top: 1px;
    }
}

/* ### Stars */

.stars-vote {
    margin-top: 5px;
}

.stars {
    clear: both;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 18px;
    height: 18px;
    line-height: 1em;
    margin: 0 0 0 10px;
    overflow: hidden;
    position: relative;
    top: 2px;

    &:hover a::before {
        content: "\f005" !important;
    }

    &:hover a:hover ~ a::before {
        content: "\f006" !important;
    }

    a {
        float: left;
        margin-right: 1px;
        opacity: 1;
        overflow: hidden;
        position: relative;
        text-indent: -50px;
        width: 17px;

        &::before {
            content: "\f006";
            left: 0;
            position: absolute;
            text-indent: 0;
            top: 0;
        }
    }

    &.selected {
        a {
            &::before {
                content: "\f005";
            }

            &.active ~ a::before {
                content: "\f006";
            }
        }
    }
}
