/* ## Team */

.anps-team {
    text-align: center;

    &.anps-team--grid {
        margin: 0 -15px;
    }

    &.anps-team--carousel {
        margin: 0 -20px;
        overflow: hidden;
        padding: 0 20px;

        .owl-stage-outer {
            overflow: visible;
        }
    }

    &__col {
        display: inline-block;
        margin-bottom: 30px;
        width: 100%;

        .anps-team--grid & {
            padding: 0 15px;
        }

        @media (min-width: 450px) {
            .anps-team--grid & {
                width: 50%;
            }

            .anps-team--grid:not(.anps-team--img-circle) & {
                margin-bottom: 45px;
                width: 50%;
            }
        }

        @media (min-width: 992px) {
            .anps-team--grid:not(.anps-team--img-circle) & {
                margin-bottom: 60px;
            }
        }

        /* Columns */

        @media (min-width: 992px) {
            .anps-team--col-2.anps-team--grid & {
                width: 50%;
            }

            .anps-team--col-3.anps-team--grid & {
                width: 33.333%;
            }

            .anps-team--col-4.anps-team--grid & {
                width: 25%;
            }

            .anps-team--col-5.anps-team--grid & {
                width: 20%;
            }

            .anps-team--col-6.anps-team--grid & {
                width: 33.333%;
            }
        }

        @media (min-width: 1200px) {
            .anps-team--col-6.anps-team--grid & {
                width: 20%;
            }
        }
    }
}

.anps-member {
    overflow: hidden;

    &:hover,
    &:focus {
        .anps-team:not(.anps-team--single) & {
            .anps-member__img img {
                transform: scale(1.1);
            }

            .anps-member__content {
                opacity: .8;
            }
        }
    }

    &__header {
        position: relative;
        z-index: 1;
    }

    &__content,
    &__img {
        display: block;
    }

    &__content {
        padding: 24px 15px;
        transition: .2s opacity;
    }

    &__img {
        overflow: hidden;

        img {
            transition: .2s transform;
            width: 100%;
        }
    }

    &__name {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.4em;
    }

    &__title {
        font-size: 16px;
        line-height: 1.2em;
        margin-bottom: 3px;
        margin-top: 4px;
    }

    &__excerpt {
        font-size: 16px;
        line-height: 1.3em;
        margin-top: 10px;
        opacity: .8;
    }
}

.anps-team--img-square {
    &.anps-team--shadow {
        .anps-member {
            box-shadow: 0 6px 30px 0 rgba(#dde0e7, .4);
        }
    }
}

.anps-team--img-circle {
    &.anps-team--shadow {
        .anps-member__img {
            box-shadow: 0 20px 50px 0 #dde0e7;
        }
    }

    .anps-member {
        padding-top: 20px;

        &__header {
            margin: 0 auto;
            position: relative;
            width: 80%;
        }

        &__img {
            border-radius: 50%;
        }
    }
}

.anps-member-social {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 500px;

    .anps-team--img-square & {
        margin-top: -14px;
        top: 100%;
    }

    .anps-team--img-circle & {
        bottom: -10px;

        &.anps-member-social--single {
            bottom: 0;
        }
    }

    &--multiple {
        left: 50%;
        transform: translateX(-50%);
    }

    &--single {
        right: 15px;
        text-align: right;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        border-radius: 50%;
        box-shadow: 4px 5px 20px 0 rgba(51, 165, 225, .39);
        color: #fff;
        display: block;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        margin: 0 5px;
        position: relative;
        text-align: center;
        transition: .2s box-shadow, .1s transform !important;
        width: 30px;
        z-index: 1;

        &:hover,
        &:focus {
            box-shadow: 4px 5px 20px 0 rgba(51, 165, 225, .69);
            color: #fff;
            transform: translateY(-2px);
        }
    }
}
