/* ## VC grid */

.vc_gitem_row .vc_gitem-col.anps-grid,
.vc_gitem_row .vc_gitem-col.anps-grid-mansonry {
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .14);
    padding: 0;

    .post-title,
    h3,
    h4 {
        font-size: 22px;
        line-height: 24px;
        text-transform: uppercase;
    }

    .post-desc {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 7px;
    }

    .vc_btn3-container {
        margin-bottom: -8px;
    }

    > * {
        padding-left: 30px;
        padding-right: 30px;
    }

    .vc_gitem-post-data-source-post_date {
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        font-size: 11px;
        line-height: 25px;
        padding-bottom: 5px;
        padding-top: 5px;

        > div::before {
            content: "\f073";
            font-family: "FontAwesome";
            font-size: 12px;
            padding-right: 6px;
        }
    }
}

.anpsgrid.vc_gitem-zone {
    overflow: visible;
}

.vc_gitem_row .vc_gitem-col.anps-grid-mansonry {
    .vc_gitem-post-data-source-post_title {
        padding-top: 12px;
    }

    .vc_gitem-post-data-source-post_excerpt {
        margin-bottom: 30px;
    }
}
