/* ## Instagram */

.instagram-pics {
    margin-left: -3px;
    margin-right: -3px;

    > li {
        display: inline-block;
        float: none;

        img {
            height: 89px;
            padding: 3px;
        }
    }

    + p > a {
        color: #fff;
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
}
