/* ## WooCommerce widgets */

.woocommerce form .form-row label[for="terms"] {
    display: inline-block;
}

/* ### Mini Cart */

.mini-cart-list {
    list-style: none;
}

.top-bar .mini-cart {
    margin-top: 5px;
}

.above-nav-bar .mini-cart > a {
    top: 12px;
}

.site-footer,
aside {
    /* Search */

    .woocommerce-product-search {
        position: relative;

        input.search-field {
            background: none;
            border: 1px solid $border-color;
            border-radius: 5px;
            padding: 10px 62px 10px 12px;
            width: 100%;
        }

        input[type="submit"] {
            background: none;
            border: 1px solid $border-color;
            border-radius: 0 5px 5px 0;
            border-style: none solid;
            bottom: 1px;
            position: absolute;
            right: 0;
            text-indent: -9999px;
            top: 1px;
            white-space: nowrap;
            width: 50px;
        }

        &::after {
            color: #7f7f7f;
            content: "\f002";
            cursor: pointer;
            font-family: "FontAwesome";
            pointer-events: none;
            position: absolute;
            right: 0;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
        }
    }

    /* Minicart */

    .mini-cart-list {
        list-style: none;
        margin-bottom: 15px;
        position: relative;

        li {
            position: relative;
        }

        + p.total > strong {
            color: #000;
        }

        li.empty {
            padding: 17px 19px 17px 0;
        }
    }

    .mini-cart-list li.mini_cart_item {
        padding-left: 70px;
    }

    .mini_cart_item_img {
        left: 0;
    }

    .widget_shopping_cart_content .buttons {
        a {
            color: #fff !important;
            display: inline-block;
            float: none;
            line-height: 32px;
            text-align: center;
            width: calc(50% - 2px);

            &:focus,
            &:hover {
                background-color: #ffcc43;
            }
        }
    }

    select.dropdown_product_cat {
        width: 100%;
    }

    .product-categories {
        list-style: none;
        padding-left: 0;
    }

    .widget_price_filter {
        .price_slider_wrapper {
            padding-top: 0;
            position: relative;

            .price_slider {
                cursor: pointer;
                margin: 0 19px 27px;

                &::after {
                    background-color: #e5e5e5;
                    content: "";
                    height: 100%;
                    left: -15px;
                    position: absolute;
                    right: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .ui-slider {
            height: 4px;
            margin-bottom: 19px;
            margin-top: 35px;
            max-width: 100%;
            position: relative;
            text-align: left;
        }

        .ui-slider .ui-slider-range {
            border: 0;
            display: block;
            font-size: .7em;
            left: 0;
            min-height: 4px;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        .ui-slider-handle {
            background-color: #d2d2d2;
            border: none;
            border-radius: 100%;
            cursor: ew-resize;
            height: 19px;
            margin-left: -1px;
            outline: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: .2s box-shadow;
            width: 19px;
            z-index: 2;
        }

        .ui-slider-handle.ui-state-active,
        .ui-slider-handle:hover {
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2);
        }

        .ui-slider-handle:first-of-type {
            margin-left: -19px;
        }

        .price_slider_amount {
            .price_label {
                display: inline-block;
                text-align: right;
            }

            button.button {
                border: none;
                color: #fff !important;
                display: inline-block;
                float: none;
                margin-right: 10px;
                padding: 5px 15px;
                text-align: center;
                transition: background-color .2s;
            }
        }
    }
}

.site-footer .widget_price_filter .price_slider_wrapper .price_slider::after {
    background-color: rgba(255, 255, 255, .127);
}

/* ### Adjustments for footer */

.site-footer {
    .woocommerce-product-search input.search-field,
    .woocommerce-product-search input[type="submit"] {
        border-color: $footer-border-color;
    }
}

/* ### Layered nav list */

select.dropdown_layered_nav_color,
select.dropdown_product_cat {
    padding-right: 40px;
}

.select2-container .select2-choice,
.select2-container .select2-choice > .select2-chosen,
.select2-results li {
    color: #898989;
}

/* ### My Account */

.woocommerce-customer-details {
    margin-top: 15px;
}

.woocommerce-column__title {
    margin-bottom: 20px;
}

.woocommerce .address,
.woocommerce-Address {
    header.title + .edit {
        display: inline;
        margin-left: 20px;
        top: -3px;
    }
}

/* ### Login / Register, Lost Password */

#customer_login,
.lost_reset_password {
    .form-row {
        margin-bottom: 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .btn,
    .button {
        margin-top: 15px;
    }

    label {
        font-weight: normal;
    }

    label[for="rememberme"] {
        display: inline-block;
        font-weight: normal;
        margin-top: 25px;

        @media (min-width: 500px) {
            margin-left: 20px;
            margin-top: 0;
        }
    }
}

.woocommerce-password-strength {
    margin-top: 20px;
}

/* Nav rating */

.widget_rating_filter {
    ul {
        list-style: none;
        padding: 0;
    }

    span {
        margin-right: 5px;
    }

    a {
        transition: .2s opacity;

        &:focus,
        &:hover {
            opacity: .8;
        }
    }

    .star-rating {
        float: left;
    }

    .wc-layered-nav-rating {
        clear: both;
        line-height: 1em;

        + .wc-layered-nav-rating {
            margin-top: 10px;
        }
    }
}

/* Filter layer nav */

.widget_layered_nav_filters {
    ul {
        list-style: none;
        padding: 0;
    }

    a {
        padding-left: 18px;
        position: relative;

        &::before {
            content: "\f00d";
            font-family: "FontAwesome";
            left: 0;
            position: absolute;
            text-decoration: none;
            top: 50%;
            transform: translateY(-50%);
        }

        &:focus,
        &:hover {
            text-decoration: line-through;
        }
    }
}

/* Product widgets */

.product_list_widget {
    list-style: none;
    padding: 0;

    li {
        padding-left: 65px;
        position: relative;

        + li {
            margin-top: 15px;
        }
    }

    .product-title {
        display: block;
        font-size: 14px;
        margin: 0;
    }

    img {
        border: 1px solid #e5e5e5;
        height: 50px;
        left: 0;
        position: absolute;
        top: 0;
        width: 50px;
    }
}
