/* ## Working Hours */

.working-hours {
    border-collapse: separate;
    border-spacing: 0 6px;
    width: 100%;

    tr:not(:last-child) td,
    tr:not(:last-child) th {
        border: none;
        padding: 7px 0;
        vertical-align: middle;
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 1px;
            bottom: -1px;
            left: 0;
            background-color: var(--anps-footer-heading-color);
            position: absolute;
            opacity: .1;
        }
    }

    th {
        border-radius: 3px 0 0 3px;
        border-right-style: none;
        font-weight: 400;
    }

    td {
        border-left-style: none;
        border-radius: 0 3px 3px 0;
        text-align: right;
        white-space: nowrap;
    }
}

/* ## Footer versions */

.site-footer .working-hours {
    .important {
        color: var(--anps-footer-heading-color);
    }
}

/* ## Sidebar version */

.sidebar .working-hours {
    td,
    th {
        color: var(--anps-text-color);
        border-color: var(--anps-text-color);

        &:after {
            background-color: var(--anps-text-color) !important;
        }
    }

    .important {
        color: var(--anps-primary);
    }
}
