/* Utilities */

@import "../bootstrap/variables";
@import "../variables";
@import "../bootstrap/mixins";
@import "../mixins";

/* ## Button */

.anps-btn,
.button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    &[disabled] {
        cursor: default;
        filter: grayscale(.8);
        opacity: .3;
        pointer-events: none;
    }
}

.anps-btn-wrap {
    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}

.anps-btn {
    vertical-align: middle;

    &__icon {
        display: inline-block;
        margin-right: 12px;
        vertical-align: middle;

        svg {
            height: 16px;
            width: 16px;
        }
    }

    &--sm {
        font-size: 14px;
        padding: 8px 25px;

        @media (min-width: 992px) {
            font-size: 16px;
            padding: 12px 35px;
        }
    }

    &--md {
        font-size: 16px;
        padding: 12px 35px;

        @media (min-width: 992px) {
            font-size: 16px;
            padding: 14px 40px;
        }
    }

    &--lg {
        font-size: 16px;
        padding: 12px 35px;

        @media (min-width: 992px) {
            font-size: 18px;
            padding: 17px 45px;
        }
    }

    &--menu {
        font-size: 16px;
        padding: 10px 32px;
    }

    &--add-to-cart {
        font-size: 16px;
        padding: 15px 45px;
    }

    &--normal {
        transition: .2s background-color ease-in-out, .2s color ease-in-out, .2s box-shadow ease-in-out, .2s filter, .3s opacity;
    }

    &--gradient {
        background-size: 100% 100%;
        transition: background-size .2s ease-in-out, .2s box-shadow ease-in-out, .2s filter, .3s opacity;

        &:hover,
        &:focus {
            background-size: 175% 100%;
        }
    }

    &--text {
        background: none;
        padding: 0;
        transition: .2s color ease-in-out, .2s filter, .3s opacity;
    }

    &--border {
        border-style: solid;
        transition: .2s background-color ease-in-out, .2s color ease-in-out, .2s border-color ease-in-out, .2s filter, .3s opacity;
    }
}
