.anps-logo {
    flex-grow: 1;
    flex-shrink: 0;
    padding-right: 40px;
    font-size: 0px;

    a {
        display: inline-block;
    }

    &__sticky,
    &__mobile {
        display: none;
    }

    @media (max-width: 991px) {
        &__main {
            display: none;
        }

        &__mobile {
            display: block;
        }
    }

    &__mobile {
        img {
            max-height: var(--anps-hbar-m-height);
            max-width: calc(100vw - 180px);
        }
    }

    &__main {
        img {
            max-height: var(--anps-hbar-height);
        }
    }

    &__sticky {
        img {
            max-height: var(--anps-hbar-m-height--sticky);

            @media (min-width: 1200px) {
                max-height: var(--anps-hbar-height--sticky);
            }
        }
    }
}

.anps-header--sticky {
    .anps-logo {
        &__main,
        &__mobile {
            display: none;
        }

        &__sticky {
            display: block;
        }
    }
}
