.anps-main-nav {
    .menu-item {
        &:hover {
            .megamenu {
                display: block;
            }
        }
    }

    .megamenu {
        background-color: #fff;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
        display: none;
        font-size: var(--anps-submenu-font-size);
        padding: 20px 5px;
        position: absolute;
        top: 100%;
        z-index: 99;

        a {
            color: var(--anps-submenu-color);
            display: inline-block;
            padding: 2px 0;

            &:hover,
            &:focus {
                color: var(--anps-submenu-color--hover);
            }
        }

        &::before {
            bottom: 100%;
            content: "";
            height: 10px;
            left: 0;
            position: absolute;
            width: 100%;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .megamenu-title {
        font-weight: bold;
    }
}
