ul.anps-main-menu,
.anps-main-menu > ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.anps-main-menu {
    > ul > li,
    > li {
        position: relative;

        + li {
            margin-left: var(--anps-menu-spacing);
        }
    }

    > ul > .menu-item,
    > .menu-item {
        @media (max-width: 1199px) {
            display: none;
        }

        > a {
            color: var(--anps-menu-color);
            display: inline-block;
            font-size: var(--anps-menu-font-size);
            padding: 0 5px;
            transition: .2s color ease-in-out;
            height: 56px;
            line-height: 56px;

            &:hover,
            &:focus {
                color: var(--anps-menu-color--hover);
            }
        }
    }

    .menu-item {
        &:hover,
        &:focus {
            > .sub-menu {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    .current-menu-item > a {
        color: var(--anps-menu-color--active) !important;
        cursor: default;
    }

    .sub-menu {
        background-color: var(--anps-submenu-bg-color);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
        font-size: var(--anps-submenu-font-size);
        left: 0;
        line-height: 1.7em;
        list-style: none;
        margin: 0;
        opacity: 0;
        padding: 15px 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        transition: .2s opacity ease-in-out;
        width: 240px;
        z-index: 5;

        .current-menu-item > a {
            color: var(--anps-submenu-color--active) !important;
        }

        a {
            color: var(--anps-submenu-color);
            display: block;
            padding: 6px 20px;

            &:hover,
            &:focus {
                color: var(--anps-submenu-color--hover);
            }
        }

        .sub-menu {
            left: 100%;
            position: absolute;
            top: 0;
            z-index: 3;
        }
    }

    .menu-search-toggle {
        appearance: none;
        background: none;
        border: none;
        color: var(--anps-menu-mobile-icons);
        display: none;
        margin: 0;
        outline: none;
        padding: 0;
        transition: .2s opacity ease-in-out;

        @media (min-width: 1200px) {
            color: var(--anps-menu-color--active);
        }

        i {
            width: 15px;
        }

        &--lg {
            @media (min-width: 1200px) {
                display: block;
            }
        }

        &--sm {
            @media (max-width: 1199px) {
                display: block;
            }
        }

        @media (max-width: 1199px) {
            border-radius: 3px;
            font-size: 16px;
            height: 40px;
            line-height: 40px;
            margin-left: 15px;
            position: relative;
            width: 15px;
        }

        &:hover,
        &:focus {
            opacity: .7;
        }
    }

    .menu-button {
        padding-left: 10px;

        @media (max-width: 1199px) {
            display: none;
        }
    }
}

.anps-header--sticky-anim .menu-item a {
    transition: none;
}
