$mobile-menu-width: 290px;

.anps-mobile-menu {
    background-color: #000;
    bottom: 0;
    left: 100%;
    position: fixed;
    top: 0;
    width: $mobile-menu-width;
    z-index: 999;
    overflow-y: scroll;

    .admin-bar & {
        padding-top: 46px;

        @media (min-width: 783px) {
            padding-top: 32px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-item {
        border-bottom: 1px solid rgba(255, 255, 255, .15);
        position: relative;

        a {
            color: rgba(255, 255, 255, .75);
            display: block;
            padding: 7px 20px;

            &:hover,
            &:focus {
                color: #fff;
                outline: none;
            }
        }
    }

    .current-menu-item > a {
        color: #fff;
    }

    .sub-menu {
        border-top: 1px solid rgba(255, 255, 255, .15);
        display: none;

        a {
            padding-left: 30px;
        }

        .menu-item:last-child {
            border-bottom: none;
        }
    }

    .sub-menu-active > .sub-menu {
        display: block;
    }

    .sub-menu-toggle {
        appearance: none;
        background: none;
        border: none;
        border-left: 1px solid rgba(255, 255, 255, .15);
        color: rgba(255, 255, 255, .7);
        font-size: 18px;
        height: 41px;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;

        &:focus {
            color: #fff;
            outline: none;
        }

        i {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .menu-search,
    .mini-cart {
        display: none !important;
    }

    .menu-button {
        margin: 30px 0;
        padding: 0 15px;

        .anps-btn {
            width: 100%;
        }
    }

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
}

.site-main,
.top-bar,
.anps-header,
.anps-mobile-menu,
.site-footer {
    transition: .3s transform ease-in-out;

    .anps-show-mobile-menu & {
        transform: translateX(-$mobile-menu-width);
    }
}
