$top-bar-mobile: 1000px;

.top-bar-menu {
    color: rgba(255, 255, 255, .75);

    .top-bar-row {
        text-align: left;
    }
}

.top-bar {
    background-color: var(--anps-top-bar-bg-color);
    color: var(--anps-top-bar-color);
    display: none;
    font-size: var(--anps-top-bar-font-size);

    &--mobile {
        @media (max-width: ($top-bar-mobile - 1px)) {
            display: block;
        }
    }

    &--toggle {
        @media (max-width: ($top-bar-mobile - 1px)) {
            display: block;
            padding-bottom: 35px;
            position: relative;

            .top-bar-row {
                padding-bottom: 0;
            }

            .container {
                display: none;
                overflow: hidden;
            }
        }
    }

    &--desktop {
        @media (min-width: $top-bar-mobile) {
            display: block;
        }
    }

    &__toggle {
        appearance: none;
        background: none;
        border: none;
        bottom: 0;
        font-size: 21px;
        height: 35px;
        left: 50%;
        line-height: 35px;
        outline: none;
        position: absolute;
        text-align: center;
        transform: translateX(-50%);
        width: 150px;
        z-index: 1;


        @media (min-width: $top-bar-mobile){
            display: none;
        }
    }

    &--active {
        .top-bar__toggle {
            transform: translateX(-50%) rotate(180deg);
        }
    }

    .widget + .widget {
        @media (max-width: ($top-bar-mobile - 1px)) {
            margin-top: 7px;
        }

        @media (min-width: $top-bar-mobile) {
            margin-left: 20px;
        }
    }
}

.top-bar-row {
    @media (max-width: ($top-bar-mobile - 1px)) {
        padding: 12px 0;
        text-align: center;
    }

    @media (min-width: $top-bar-mobile) {
        align-items: center;
        display: flex;
        height: var(--anps-top-bar-height);
        justify-content: space-between;
    }
}

.top-bar-left,
.top-bar-right {
    @media (min-width: $top-bar-mobile) {
        align-items: center;
        display: flex;
    }
}

.top-bar-right {
    @media (max-width: ($top-bar-mobile - 1px)) {
        margin-top: 7px;
    }
}
