.anps-header__widgets {
    display: none;

    @media(min-width: $screen-lg) {
        display: block;
    }

    .ccc-header-v3-ccc-price-container {
        display: none !important;

        &:nth-child(-n+3) {
            display: inline-block !important;
        }

        &:nth-of-type(4) {
            @media(min-width: 1400px) {
                display: inline-block !important;
            }
        }
    }
}
