.idea
/*
!.gitignore
!.env.example
!init.sh
!README.md
!docker-compose.yaml

!wp-content
wp-content/*

wp-content/themes
wp-content/plugins

!wp-content/themes
!wp-content/plugins

wp-content/themes/*
!wp-content/themes/yourtheme
!wp-content/themes/yourtheme-child

wp-content/themes/yourtheme/node_modules
wp-content/themes/yourtheme-child/node_modules

wp-content/plugins/*
!wp-content/plugins/yourtheme


