.idea
/*
!.gitignore
!.env.example
!init.sh
!README.md
!docker-compose.yaml

!wp-content
wp-content/*

wp-content/themes
wp-content/plugins

!wp-content/themes
!wp-content/plugins

wp-content/themes/*
!wp-content/themes/lapopsi
!wp-content/themes/lapopsi-child

wp-content/themes/lapopsi/node_modules
wp-content/themes/lapopsi-child/node_modules

wp-content/plugins/*
!wp-content/plugins/anps_theme_plugin


