/* ### Classic WP menu */

.sidebar {
    .widget_nav_menu,
    .woocommerce-MyAccount-navigation {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            .site-footer & a {
                border-bottom: 1px solid $footer-border-color;
            }

            &:first-of-type:not(.current-menu-item) {
                padding-top: 0;
            }

            &:last-of-type {
                border-bottom: none;
            }
        }

        div > ul > li:not(.current-menu-item):first-of-type > a {
            margin-top: 0;
            padding-top: 0;
        }

        div > ul > li:last-of-type > a,
        div > ul > li:last-of-type > .sub-menu > li:last-of-type > a {
            border-bottom: 0;
        }

        div > ul > li:last-of-type > .sub-menu {
            border-top: 1px solid $border-color;
        }

        a {
            border-bottom: 1px solid $border-color;
            display: block;
            padding: 14px 0;
        }
    }

    .widget_nav_menu .sub-menu > li > ul > li {
        a {
            padding-left: 20px;
        }

        ul > li > a {
            padding-left: 30px;
        }

        ul > li > ul > li > a {
            padding-left: 40px;
        }

        ul > li > ul > li > ul > li > a {
            padding-left: 50px;
        }
    }
}

.copyright-footer {
    .widget_nav_menu,
    .woocommerce-MyAccount-navigation {
        li {
            display: inline-block;

            + li {
                margin-left: 27px;
            }
        }
    }

    .sub-menu {
        display: none;
    }
}
