/* # Header */

@import "bootstrap/variables";
@import "variables";
@import "mixins";

.anps-header--top,
.anps-header--bottom,
.anps-header--top-fullwidth-menu {
    .anps-header {
        &__content {
            align-items: center;
            display: flex;
            height: var(--anps-hbar-m-height);
            justify-content: space-between;
            transition: .4s height ease-out;

            @media (min-width: 992px) {
                height: var(--anps-hbar-height);
            }
        }

        &__main {
            background: var(--anps-hmain-bg);
        }

        &__bar {
            background: var(--anps-hbar-bg);
        }
    }
}

.anps-header--shadow {
    .anps-header__bar {
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.08);
        position: relative;
        z-index: 99;
    }
}

.anps-header--full-width {
    @media(min-width: 992px) {
        .container {
            padding: 0 80px;
            width: 100%;
        }
    }
}

.anps-header {
    &--transparent {
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 99;
    }

    &--transparent:not(.anps-header--sticky) {
        .anps-header__bar {
            box-shadow: none;
        }
    }

    &--bottom {
        @media (min-width: $screen-lg) {
            .anps-header__wrap {
                left: 0;
                position: absolute;
                width: 100%;
                z-index: 999;
            }
        }
    }

    &--sticky {
        .anps-header__bar {
            background: var(--anps-sticky-bg);
            box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.08);
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 9999;

            @media (min-width: $screen-sm) {
                position: fixed;
            }

            .sticky-mobile & {
                position: fixed;
            }

            .anps-main-menu > ul > .menu-item > a,
            .anps-main-menu > .menu-item > a {
                color: var(--anps-sticky-color);

                &:hover,
                &:focus {
                    color: var(--anps-sticky-color--hover);
                }
            }
        }

        .anps-main-menu .menu-search-toggle {
            color: var(--anps-sticky-color--active);
        }

        .menu-item.current-menu-item > a {
            color: var(--anps-sticky-color--active) !important;
            cursor: default;
        }

        .anps-header__content {
            height: var(--anps-hbar-m-height--sticky);

            @media (min-width: 992px) {
                height: var(--anps-hbar-height--sticky);
            }
        }
    }

    &--top-fullwidth-menu {
        .menu-search {
            display: flex;
            justify-content: flex-end;
        }

        &.anps-header--left {
            justify-content: flex-start;

            .menu-search {
                flex: 1;
            }
        }

        &.anps-header--right {
            .anps-main-menu {
                justify-content: flex-end;
            }
        }
    }

    &--left {
        .anps-logo {
            @media (min-width: $screen-lg) {
                flex-grow: 0;
            }
        }

        .anps-main-nav {
            @media (min-width: $screen-lg) {
                flex-grow: 1;
            }
        }

        .menu-button {
            @media (min-width: $screen-lg) {
                flex: 1;
                text-align: right;
            }
        }
    }
}

.anps-header--top-fullwidth-menu {
    .anps-header__wrap {
        display: none;

        @media (min-width: $screen-lg) {
            display: block;
        }
    }

    .menu-button {
        margin-left: 20px;

        @media (max-width: 1199px) {
            display: none;
        }
    }

    .menu-search-fullwidth-menu {
        @media (min-width: $screen-lg) {
            display: none;
        }

        .menu-search-toggle {
            background-color: transparent;
            border: none;
            color: var(--anps-menu-mobile-icons);
        }
    }

    .anps-header__main {
        background-color: var(--anps-hmain-bg);
    }

    .anps-header__bar {
        background-color: var(--anps-hbar-bg);
        line-height: 46px;
    }

    .anps-main-menu > .current-menu-item {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            top: -1px;
            left: 0;
            background-color: var(--anps-menu-color--active);
        }
    }

    .anps-large-above-menu {
        align-items: center;
        display: flex;
    }

    .page_item > a {
        color: var(--anps-menu-color);
        font-size: var(--anps-menu-font-size);
    }

    .page_item.current_page_item > a {
        color: var(--anps-menu-color--active);
    }

    .page_item:hover > a {
        color: var(--anps-menu-color--hover) !important;
    }

    &.anps-header--border .anps-header__main {
        border-bottom: 1px;
        border-color: var(--anps-breadcrumbs-border-color);
        border-left: 0;
        border-right: 0;
        border-style: solid;
        border-top: 0;
    }

    @media (min-width: $screen-lg) {
        ul li.children-right > ul.sub-menu ul.sub-menu {
            left: -100%;
        }
    }

}


@import "header/logo";
@import "header/menu";
@import "header/mobile-menu";
@import "header/menu-toggle";
@import "header/top-bar";
@import "header/search";
@import "header/vertical";
@import "header/mega-menu";
@import "header/widgets";
@import "header/_large-above-menu";
