@mixin shadow() {
    border: none;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .12);
}

@mixin shadow-secondary() {
    border: 1px solid $border-color;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .14);
}

@mixin transition() {
    transition: background-color .2s, color .2s;
}

@mixin box-shadow() {
    box-shadow: 0 20px 40px 0 rgba(221, 224, 231, .5);

    @media (min-width: 768px) {
        box-shadow: 0 30px 70px 0 rgba(221, 224, 231, .5);
    }

    @media (min-width: 992px) {
        box-shadow: 0 30px 100px 0 rgba(221, 224, 231, .5);
    }
}

@mixin input-field {
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    color: inherit;
    line-height: 1.4em;
    padding: 8px 15px;
    position: relative;
    width: 100%;
    z-index: 1;

    @media (min-width: 768px) {
        padding: 10px 20px;
    }

    @media (min-width: 992px) {
        padding: 12px 23px;
    }

    &:focus {
        border-color: #ccc;
        outline: none;
    }
}
