/* Utilities */

@import "bootstrap/variables";
@import "variables";
@import "mixins";
@import "bootstrap/mixins";
@import "header";
@import "footer";

/* # Widgets */

@import "widgets/menu";
@import "widgets/search";
@import "widgets/wp-lists";
@import "widgets/newsletter";
@import "widgets/tagcloud";

/* # WooCommerce */

@import "woocommerce/mini-cart";

/* # Helper and Basic classes */

::selection {
  color: #fff;
}

body {
  background-color: var(--anps-page-bg);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7em;
}

.site {
  background-color: var(--anps-page-bg);
  overflow: hidden;

  .custom-background & {
    background: none;
  }
}

.page-content-wrap {
  &::after {
    clear: both;
    content: "";
    display: table;
  }

  + .anps-heading,
  + .comment-respond {
    margin-top: 60px;
  }
}

a {
  @include transition;

  > h1,
  > h3,
  > h4,
  > h5,
  > h6,
  > h2 {
    transition: 0.4s opacity;
  }

  &:focus,
  &:hover {
    text-decoration: none;

    > h1,
    > h3,
    > h4,
    > h5,
    > h6,
    > h2 {
      opacity: 0.7;
    }
  }
}

p {
  margin: 0 0 30px;
}

.w-255 {
  width: 255px;
}

.w-350 {
  width: 350px;
}

.margin-l-5 {
  margin-left: 5px;
}

.top-margin-70 {
  margin-top: 70px;
}

.top-margin-50 {
  margin-top: 50px;
}

.font-size-30 {
  font-size: 30px;
}

.no-border {
  border: none;
}

.clear {
  clear: both;
}

@media (max-width: 999px) {
  .no-margin-mobile {
    margin-top: 0 !important;
  }

  .no-padding-mobile .vc_column-inner {
    padding-top: 0 !important;
  }
}

label {
  cursor: pointer;
}

select {
  background-color: transparent;
  border: 1px solid #e4e4e4;
  padding: 8px 15px;
}

.select-wrapper {
  background-color: #fff;
  display: inline-block;
  position: relative;

  select {
    appearance: none;
    background: none;
    border-radius: 3px;
    padding-right: 35px;
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "\f107";
    font-family: FontAwesome;
    pointer-events: none;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* ## Admin bar logo fix */

.embed-responsive + .embed-responsive {
  margin-top: 47px;

  @media (min-width: $screen-md) {
    margin-top: 87px;
  }
}

.background-mask {
  color: #fff;
  position: relative;

  > * {
    position: relative;
    z-index: 2;
  }

  &::before {
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

b {
  font-weight: normal;
}

mark {
  color: #fff;
  padding: 0.1em 0.2em;
}

.dropcap {
  float: left;
  font-size: 36px;
  line-height: 1em;
  margin-right: 8px;
}

p {
  &:last-child {
    margin-bottom: 0;
  }

  + .panel-group {
    margin-top: 31px;
  }
}

.error-page-sample {
  padding: 60px 0;
}

[class*="col-"] > *:first-child {
  margin-top: 0;
}

body .bg-top-full {
  background-position: top !important;
  background-size: 100% !important;
}

body .bg-bottom-full {
  background-position: center bottom !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

body .bg-pattern-x {
  background-position: top !important;
  background-repeat: repeat-x !important;
}

body .bg-pattern-y {
  background-position: top !important;
  background-repeat: repeat-y !important;
  background-size: 100% auto;

  &--hide-sm {
    @media (max-width: ($screen-sm - 1)) {
      background-image: none !important;
    }
  }

  &--hide-md {
    @media (max-width: ($screen-md - 1)) {
      background-image: none !important;
    }
  }
}

body .bg-pattern {
  &--hide-sm {
    @media (max-width: ($screen-sm - 1)) {
      background-image: none !important;
    }
  }

  &--hide-md {
    @media (max-width: ($screen-md - 1)) {
      background-image: none !important;
    }
  }

  &--hide-lg {
    @media (max-width: ($screen-lg - 1)) {
      background-image: none !important;
    }
  }
}

body .bg-pattern-x-top {
  background-position-y: top;
  background-repeat: repeat-x;
}

body .bg-pattern-x-bottom {
  background-position-y: bottom;
  background-repeat: repeat-x;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  max-width: 100%;
  position: relative;
  z-index: 3;
}

.abs-bot-right {
  display: none;
  padding: 0 !important;

  .container {
    z-index: 1;
  }

  img {
    bottom: 0;
    position: absolute;
    right: -190px;
  }

  @media (min-width: $screen-md) {
    display: block;
  }
}

/* ## Backgrounds */

.bg-gray {
  background-color: #f8f9f9;
}

.bg-dark {
  background-color: #252525;

  * {
    color: rgba(255, 255, 255, 0.4);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  .title::before {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

body .background-image-center {
  background-position: center center;
  background-repeat: no-repeat;

  @media (max-width: ($screen-md - 1px)) {
    background-image: none !important;
  }

  &.contain {
    background-size: 100% auto !important;
  }
}

body .background-image-left {
  background-origin: content-box;
  background-position: bottom -35px left 0;
  background-repeat: no-repeat;

  @media (max-width: ($screen-md - 1px)) {
    background-image: none !important;
  }
}

.rev-subtitle,
.rev-title {
  color: #fff;
  font-weight: 700;
}

.rev-title {
  font-size: 72px;
}

.rev-subtitle {
  font-size: 18px;
}

/* ## Page Content & Sidebar Divider */

@media (max-width: ($screen-md - 1px)) {
  .sidebar-hide .sidebar {
    display: none;
  }

  .sidebar-after {
    .content-container > .row {
      display: flex;
      flex-direction: column;
    }

    .sidebar {
      order: 1;
    }
  }

  .sidebar-after:not(.sidebar-hide) {
    .page-content {
      padding-bottom: 0;
    }
  }
}

.page-content,
.sidebar {
  position: relative;
}

.content-border-right {
  @media (min-width: $screen-sm) {
    padding-right: 15px !important;
    border-right: 1px solid #efefef;
  }

  @media (min-width: $screen-lg) {
    padding-right: 30px !important;
  }
}

.content-sidebar-right {
  @media (min-width: $screen-lg) {
    padding-left: 15px !important;
  }
}

/* ## Widgets */

/* ### Contact Number Widget */

.contact-number {
  border-radius: 3px;
  line-height: 1em;
  min-height: 64px;
  padding: 15px 27px;
  text-align: center;
  text-transform: uppercase;

  > * {
    display: block;

    + * {
      margin-top: 5px;
    }
  }
}

.contact-number-number {
  font-size: 15px;
}

.vertical-menu .contact-number {
  margin: 0 auto;
  max-width: 181px;
}

/* ### Sidebar Widgets */

.sidebar {
  .widget + .widget {
    margin-top: 40px;
  }

  a {
    color: inherit;
  }

  .widget-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 24px;
  }

  /* Menu */

  .menu {
    a {
      font-size: var(--anps-body-font-size);
    }
  }

  .menu,
  .sub-menu,
  .woocommerce-MyAccount-navigation ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
  }

  .sub-menu {
    a {
      &::before {
        content: "\f105";
        font-family: FontAwesome;
        padding-right: 12px;
        opacity: 0.75;
      }
    }
  }

  .current-menu-item > .sub-menu,
  .current-menu-ancestor > .sub-menu {
    display: block;
  }

  .sub-menu {
    a {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .sub-menu .sub-menu {
    a {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .sub-menu .sub-menu .sub-menu {
    a {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

/* ### Recent News Widget */

.anps-recent-posts {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: table;
    height: 62px;
    padding-left: 92px;
    padding-right: 15px;
    position: relative;
    width: 100%;

    + li {
      margin-top: 18px;
    }
  }

  a {
    display: table-cell;
    vertical-align: middle;
  }

  img {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  span {
    display: block;
    font-size: 14px;
    line-height: 1.4em;
    padding: 15px 0;
  }
}

.sidebar .anps-recent-posts {
  li {
    background-color: #f7f7f7;
  }

  span {
    color: #5b5b5b;
  }
}

.site-main {
  position: relative;
  z-index: 0;

  .fixed-footer & {
    @media (max-width: ($screen-md - 1px)) {
      margin-bottom: 0 !important;
    }
  }
}

.widget_recent_entries .post-date::before {
  content: "/ ";
}

/* ### Pages widget */

.widget_pages {
  > ul {
    overflow: hidden;
  }

  a {
    position: relative;

    &::before {
      content: "\f105";
      font-family: FontAwesome;
      margin-right: 8px;
    }
  }
}

/* ### RSS widget */

.widget_rss {
  /* Title */

  .widget-title {
    &:focus,
    &:hover {
      color: $text-color;
    }

    a {
      color: inherit;
    }

    .rsswidget:first-of-type {
      &::before {
        content: "\f09e";
        font-family: FontAwesome;
      }

      img {
        display: none;
      }
    }
  }

  /* Content */

  ul {
    list-style: none;
    padding: 0;

    li + li {
      margin-top: 15px;
    }

    .rsswidget {
      text-transform: uppercase;
    }

    .rss-date,
    cite {
      display: block;
      font-style: normal;
    }
  }
}

/* ### Calendar widget */

.widget_calendar {
  @media (min-width: $screen-md) {
    .sidebar &,
    .site-footer & {
      font-size: 12px;
    }
  }

  caption,
  td,
  th {
    line-height: 30px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }

  th {
    background-color: #f5f5f5;
    color: #727272;
    font-weight: normal;
    position: relative;

    &::after {
      background-color: $border-color;
      content: "";
      height: 2000px;
      left: -1px;
      margin-top: -1000px;
      position: absolute;
      top: 50%;
      width: 1px;

      .site-footer & {
        background-color: $footer-border-color;
      }
    }
  }

  a {
    color: #fff;
    display: block;

    &:focus,
    &:hover {
      color: #fff;
    }
  }

  #today a {
    color: #fff;
    font-weight: 600;
  }

  caption {
    color: #fff !important;
    position: relative;
    z-index: 1;
  }

  .calendar_wrap {
    overflow: hidden;
  }

  table {
    border: 1px solid $border-color;
    border-collapse: collapse;
    width: 100%;

    .site-footer & {
      border-color: $footer-border-color;
    }
  }

  tfoot {
    display: none;
  }

  table td,
  table th {
    border: 1px solid $border-color;
  }

  table tr:first-child th {
    border-top: 0;
  }

  table tr:last-child td {
    border-bottom: 0;
  }

  table tr td:first-child,
  table tr th:first-child {
    border-left: 0;
  }

  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }
}

/* # Revolution Slider Navigation */

.tparrows.custom {
  background-color: #fff;
  border-radius: 3px;
  bottom: 40px !important;
  color: #005746;
  height: 40px;
  left: 50% !important;
  top: auto !important;
  transform: none !important;
  width: 40px;

  @media (min-width: 1000px) {
    left: auto !important;
    right: 40px;
  }

  @media (min-width: $screen-lg) {
    bottom: 160px !important;
    left: 0 !important;
    right: auto;
  }

  &:focus,
  &:hover {
    color: #fff !important;
  }

  &::before {
    color: inherit;
    font-family: FontAwesome;
    font-size: 15px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.tp-leftarrow {
    &::before {
      content: "\f053";
    }
  }

  &.tp-rightarrow {
    &::before {
      content: "\f054";
    }
  }
}

/* Revolution slider shadow */

.slidershadow {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1) !important;
}

/* # Custom Paddings (helper classes) */

.no-bottom-padding {
  padding-bottom: 0 !important;
}

@media (min-width: $screen-md) {
  .no-bottom-padding-md {
    padding-bottom: 0 !important;
  }
}

@media (min-width: $screen-lg) {
  .no-bottom-padding-lg {
    padding-bottom: 0 !important;
  }
}

.no-top-padding {
  padding-top: 0 !important;
}

.no-padding {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

@media (min-width: $screen-md) {
  .padding-small {
    padding: 50px 0;
  }

  .padding-top-small {
    padding-top: 30px;
  }

  .padding-bottom-small {
    padding-top: 30px;
  }

  .padding-bottom-big {
    padding-bottom: 60px;
  }

  .padding-bottom-xl {
    padding-bottom: 100px;
  }

  .title.margin-bottom-small {
    margin-bottom: 40px;
  }
}

/* Set padding on spans with background color */

.content-container {
  padding-bottom: calc(var(--anps-main-space-bottom) / 2);
  padding-top: calc(var(--anps-main-space-top) / 2);

  @media (min-width: 992px) {
    padding-bottom: calc(var(--anps-main-space-bottom) / 1.5);
    padding-top: calc(var(--anps-main-space-top) / 1.5);
  }

  @media (min-width: 1200px) {
    padding-bottom: var(--anps-main-space-bottom);
    padding-top: var(--anps-main-space-top);
  }

  .footer-spacing-off & {
    padding-bottom: 0;
  }

  .header-spacing-off & {
    padding-top: 0;
  }
}

/* Owl Slider Chrome issue */

.owl-stage {
  backface-visibility: hidden;
  will-change: transform;
}

.owl-item {
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
}

/* VC Video shadow fix */

.shadow .wpb_video_widget {
  margin-bottom: 0;
}

/* Cart page */

.shop_table_wrapper {
  margin-bottom: 25px;
}

.table.shop_table {
  border: 1px solid $border-color;
  margin-bottom: 0;

  th {
    border-top: 1px solid $border-color;
    text-align: left;
  }

  td {
    vertical-align: middle;
  }

  .product-thumbnail {
    max-width: 70px;
    min-width: 70px;

    img {
      width: 70px;
    }
  }

  .product-remove {
    position: relative;
    width: 35px;

    .remove {
      color: #fa7267;
      font-size: 24px;
      padding: 1px 10px;

      &:focus,
      &:hover {
        color: red;
      }
    }
  }
}

.table.customer_details_wrap,
.table.order_details_wrap {
  margin-bottom: 15px;
}

/* Change AJAX overlay color */

.blockOverlay {
  background-color: #fff !important;
}

.btn.update-cart {
  @media (max-width: ($screen-md - 1px)) {
    margin-top: 30px;
    width: 100% !important;
  }

  @media (max-width: 500px) {
    margin-top: 15px;
  }
}

/* # WooCommerce */

/* ## Cart totals */

.cart_totals {
  table {
    width: 100%;
  }

  .shipping {
    ul {
      list-style: none;
    }

    input[type="radio"] {
      float: right;
      margin-left: 7px;
    }
  }

  .order-total {
    font-size: 16px;
  }

  .input-text {
    padding: 9px 20px;
  }

  td,
  th {
    padding: 15px 0;
  }

  tr:first-of-type {
    td,
    th {
      padding-top: 0;
    }
  }

  tr + tr {
    border-top: 1px solid $border-color;
  }

  td {
    text-align: right;
  }

  .checkout-button {
    display: block;
    margin-top: 10px;
  }

  select {
    width: 100%;
  }
}

/* ## Cross sells */

.cross-sells {
  margin-top: 25px;
}

/* ## Coupon */

.anps-coupon {
  @media (min-width: 450px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__col {
      &--left {
        flex-grow: 1;
      }
    }
  }

  @media (max-width: 991px) {
    margin-bottom: 30px;
  }

  .anps-btn {
    @media (max-width: 449px) {
      width: 100%;
    }
  }
}

.coupon {
  [type="text"],
  [name="apply_coupon"] {
    padding: 10px 20px;
  }

  [type="text"] {
    display: block;

    @media (min-width: 450px) {
      max-width: 210px;
    }

    @media (min-width: $screen-sm) {
      float: left;
    }
  }

  [name="apply_coupon"] {
    float: left;
    margin-top: 15px;

    @media (max-width: 449px) {
      margin-bottom: 15px;
    }

    @media (min-width: 768px) {
      margin-left: 20px;
      margin-top: 0;
    }
  }
}

/* ## Quantity field */

.quantity {
  overflow: hidden;
  position: relative;
  width: 84px;

  .minus,
  .plus {
    background: none;
    border: 1px solid $border-color;
    border-style: none none none solid;
    height: 50%;
    position: absolute;
    right: 1px;
    transition: 0.2s background-color;
    width: 25px;
    z-index: 1;
  }

  .btn.btn-md {
    @media (min-width: $screen-md) {
      width: 100%;
    }
  }

  .plus {
    border-bottom-style: solid;
    top: 0;
  }

  .minus {
    bottom: 0;
  }

  .qty {
    appearance: textfield;
    border: 1px solid $border-color;
    border-radius: 4px;
    display: inline-block;
    height: 59px;
    line-height: 59px;
    padding-left: 0;
    padding-right: 25px;
    text-align: center;
    width: 84px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
}

/* WooCommerce account pages form buttons */

.woocommerce-MyAccount-content form {
  .button {
    margin-top: 40px;
  }
}

.woocommerce .shipping {
  vertical-align: top;

  label {
    font-weight: normal;
  }

  .shipping_method {
    margin-right: 5px;
  }

  .select2-selection__rendered {
    text-align: left;
    padding-left: 20px;
  }

  .select2-selection__arrow {
    right: 10px;
  }

  .woocommerce-shipping-methods {
    margin-top: 1px;
  }
}

.woocommerce-privacy-policy-text {
  margin-bottom: 30px;
  text-align: left;
}

.shipping-calculator-button:after {
  content: "\f078";
  font-family: "FontAwesome";
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}

/* ## WooCommerce Checkout */

.order-again {
  margin-top: 25px;
}

/* ## WooCommerce My-account */

.woocommerce-account {
  .woocommerce-MyAccount-content {
    @media (max-width: 999px) {
      padding-top: 30px;
    }
  }

  .woocommerce-info {
    .anps-btn {
      margin-right: 10px;
    }
  }
}

/* ## Site Notice */

.demo_store_wrapper {
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.14);
  color: #fff;
  left: 0;
  padding: 13px 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: transform 0.2s, opacity 0.2s;
  z-index: 999;

  p {
    margin: 0;
  }

  .show-menu & {
    left: -100%;
    transform: translateX(-290px);

    &::before {
      background-color: rgba(0, 0, 0, 0.3);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .vertical-menu & {
    @media (min-width: $screen-lg) {
      left: 380px;
    }
  }

  .admin-bar & {
    position: absolute;
    top: 46px;

    @media (min-width: 601px) {
      position: fixed;
    }

    @media (min-width: 783px) {
      top: 32px;
    }
  }
}

.woocommerce-demo-store .site-header .woocommerce-demo-store .top-bar {
  margin-top: 49px;
}

.top-bar:not(.visible-lg-block) + .site-header:not(.sticky) {
  margin-top: 0 !important;
}

@media (min-width: $screen-lg) {
  .top-bar.visible-lg-block + .site-header:not(.sticky) {
    margin-top: 0 !important;
  }
}

@media (min-width: $screen-lg) {
  .vertical-menu .site-header {
    margin-top: 0 !important;
  }
}

#ship-to-different-address {
  font-size: 16px;
  margin-bottom: 24px;

  label {
    display: inline-block;
    margin-right: 20px;
  }
}

.select2-container .select2-choice,
.select2-drop-active {
  border-color: $border-color !important;
}

.select2-container .select2-choice {
  padding: 15px 19px;
}

.woocommerce textarea {
  height: 190px;
}

.woocommerce form {
  label {
    font-weight: normal;
    margin-bottom: 12px;
    margin-top: 15px;
  }

  .form-row label {
    display: block;
  }
}

.woocommerce-billing-fields {
  .title {
    float: left;
  }
}

.form-row-wide {
  clear: both;
  width: 100%;
}

.form-row:not(.form-row-first):not(.form-row-last) {
  width: 100%;
}

.form-row,
p.form-row {
  float: left;
  margin-bottom: 7px;
  margin-top: 7px;
}

#shipping_method {
  list-style: none;
  padding: 0;
  vertical-align: middle;

  input {
    margin-top: 8px;
  }
}

@media (min-width: 500px) {
  .form-row-first,
  .form-row-last {
    width: 49%;
  }

  .form-row-first {
    clear: left;
  }

  .form-row-last {
    clear: right;
    margin-left: 2%;
  }
}

.checkout_coupon {
  @include clearfix;
}

.shop_table.woocommerce-checkout-review-order-table {
  margin-bottom: 25px;
  width: 100%;

  p {
    margin-bottom: 0;
  }
}

.payment_methods {
  list-style: none;
  margin-bottom: 30px;
  padding: 0;

  img {
    margin: 0 20px;
    max-width: 200px;
  }

  label {
    margin-left: 5px;
  }
}

.place-order {
  margin-bottom: 30px;
  text-align: left;
  font-size: 14px;
}

.woocommerce-order-details {
  margin-bottom: 30px;
}

.title.title-edit-account {
  margin-bottom: 30px;
  margin-top: 30px;
}

.title#order_review_heading {
  margin: 40px 0 20px;
}

.order_details {
  list-style: none;
  padding: 0;

  li {
    @media (min-width: $screen-md) {
      display: inline-block;

      + li {
        &::before {
          content: "/";
          margin: 0 10px;
        }
      }
    }
  }
}

.addresses address {
  line-height: 1.7em;
}

.site-main .wp-caption {
  margin-bottom: 30px;
  padding: 0;

  img {
    max-width: 100%;
    width: 100%;
  }

  p.wp-caption-text {
    font-size: 14px;
    line-height: 40px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  &.alignnone {
    margin-bottom: 30px;
  }
}

/* row classes */

.site .bg-image-bottom {
  background-position: center bottom !important;
}

.site .bg-image-top {
  background-position: center top !important;
}

.site .bg-full-width {
  background-size: 100% auto !important;
}

.no-bottom-padding-row {
  display: table;
  margin-bottom: -60px !important;
}

/* ## Boxed layout */

@media (min-width: $screen-md) {
  .boxed {
    .site,
    .site-footer {
      max-width: 100%;
      width: 1200px;
    }

    .site {
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
      left: auto;
      margin: auto;
      position: relative;
    }

    &.fixed-footer .site-footer {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .pattern-0 {
    background-attachment: fixed;
    background-position: center center;
  }

  @for $i from 1 to 13 {
    .pattern-#{$i} {
      background-image: url("boxed/pattern-#{$i}.png");
    }
  }
}

/* VC 4.11 */

@media (min-width: 768px) {
  .u-columns {
    display: flex;
    margin: 0 -15px;
  }

  .col2-set > * {
    padding: 0 15px;
    width: 50%;
  }
}

.hesperiden.tparrows {
  z-index: 999 !important;
}

.padding-bottom-0,
.vc_row.vc_column-gap-30 > .vc_column_container.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.overflow-visible {
  overflow: visible !important;
}

.rev_slider iframe {
  border-width: 0px;
}

@media (max-width: 767px) {
  .vc_row-fluid .vc_col-xs-6:nth-child(3n) {
    display: table !important;
    clear: left !important;
  }
}

/* 404 */

.error404 {
  .number404 {
    color: var(--anps-primary);
    font-size: 50px;
    font-weight: 600;

    @media (min-width: $screen-md) {
      font-size: 100px;
    }
  }

  .container h1 {
    font-weight: 600;
  }
}

/* Custom styles test unit and gutenberg */
.wp-block-button {
  &.aligncenter {
    text-align: center;
  }

  &.is-style-outline,
  &.is-style-squared {
    a {
      border-radius: 0;
    }
  }
}

p {
  &.has-large-font-size {
    line-height: 36px;
  }
  + p {
    line-height: 46px;
  }
}
