@import "bootstrap/variables";

.appearance_page_anps_plugin_options #wpbody-content,
.appearance_page_theme_options #wpbody-content {
    padding-top: 14px;
}

.appearance_page_anps_plugin_options #wpcontent,
.appearance_page_theme_options #wpcontent {
    padding-left: 0;
}

#setting-error-tgmpa {
    display: block;
}

@media (max-width: 500px) {
    .anps-admin .col-xxs-12 {
        width: 100%;
    }
}

.clear-xs {
    @media (max-width: ($screen-sm - 1px)) {
        &::before {
            clear: both;
            content: "";
            display: table;
        }
        clear: left;
    }
}

.colorpicker {
    z-index: 99;
}

.clear-sm {
    @media (min-width: $screen-sm) and (max-width: ($screen-md - 1px)) {
        &::before {
            clear: both;
            content: "";
            display: table;
        }
        clear: left;
    }
}

.anps-admin {
    border-bottom: none;
    border-top: 1px solid #e1e1e1;
    display: table;
    font-family: Arial;
    margin: 30px 90px 10px 15px;
    max-width: 1250px;
    padding-bottom: 60px;
    position: relative;
    width: calc(100% - 80px);

    &::before {
        background: #fff;
        border-right: 1px solid #e1e1e1;
        bottom: 60px;
        content: "";
        margin-right: -1px;
        position: absolute;
        right: 100%;
        top: 0;
        width: 15px;
        z-index: 14;
    }

    *:hover {
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }

    .anps-admin-menu {
        background: none repeat scroll 0 0 #f6f6f6;
        border-bottom: 1px solid #e1e1e1;
        border-left: 1px solid #e1e1e1;
        display: table-cell;
        font-size: 12px;
        margin: 0;
        max-width: 290px;
        padding: 14px 0 0;
        vertical-align: top;
        z-index: 2;

        @media (max-width: $screen-lg) {
            text-align: center;
            width: 50px;
        }

        @media (min-width: $screen-lg) {
            width: 290px;
        }

        li {
            clear: both;
            display: block;
            position: relative;

            @media (max-width: $screen-lg) {
                width: 50px;
            }

            i {
                color: #008dce;
                font-size: 14px;
                line-height: 51px;
                padding-right: 15px;
                text-align: center;
                width: 30px;

                @media (max-width: $screen-lg) {
                    background: #f6f6f6;
                    padding-right: 0;
                    position: relative;
                    width: 50px;
                    z-index: 10;
                }
            }

            a {
                color: #828282;
                display: block;
                font-size: 14px;
                line-height: 21px;

                span {
                    display: inline-block;
                }

                @media (min-width: $screen-lg) {
                    margin-right: 40px;
                    min-width: 250px;
                    padding: 0 0 0 34px;
                    width: calc(100% - 40px);
                }

                @media (max-width: $screen-lg) {
                    text-align: center;
                    width: 50px;
                }

                &:hover {
                    color: #008dce;
                }
            }

            span.version {
                color: #008dce;
                font-size: 12px;
                padding-left: 2px;
            }

            #selected-menu-item,
            #selected-menu-subitem {
                background: #008dce none repeat scroll 0 0;
                color: #fff;

                i {
                    background: #008dce;
                    color: #fff;
                }
            }
        }

        /* Logo */

        a.anpslogo {
            background: url("../anps-framework/images/anpslogo.png") no-repeat scroll 0 center transparent;
            border: medium none;
            display: inline-block;
            float: none;
            height: 40px;
            margin: 0;
            margin-left: 40px;
            min-width: 120px;
            padding-bottom: 0;
            padding-right: 0;
            padding-top: 0;
            vertical-align: top;
            width: auto;
        }

        h2 {
            border-left: 1px solid #e7e6de;
            color: #a3a297;
            display: inline-block;
            float: none;
            font-size: 14px;
            font-weight: normal;
            line-height: 40px;
            margin: 0 0 43px;
            padding: 0 0 0 10px;

            &.small_lh {
                line-height: 20px;
                padding-top: 10px;
            }
        }
    }

    form {
        display: block;
        position: static;
        vertical-align: top;
        width: 100%;
    }

    .bar-top {
        background: #f6f6f6 none repeat scroll 0 0;
        left: 0;
        padding-bottom: 10px;
        padding-right: 0;
        padding-top: 10px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;

        input {
            background: #87867b;
            border-radius: 1px;
            color: #fff;
            font-size: 11px;
            padding: 7px 15px;
            transition: background .2s;

            &:hover {
                background: #fff;
                color: #87867b;
            }
        }
    }

    .fixsave {
        border: none;
        color: #fff;
        cursor: pointer;
        position: fixed;
        white-space: nowrap;
        width: 47px;

        button {
            appearance: none;
            background-color: #6ed436;
            border: none;
            margin: 0 0 0 47px;
            padding: 14px 52px 16px 14px;
            transform: translateX(-100%);
            transition: .2s transform, padding .1s;

            &:hover,
            &:focus {
                padding-right: 42px;
                transform: translateX(-47px);
            }
        }

        i {
            position: absolute;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            padding-right: 27px;
        }
    }

    .bottom-save.absolute,
    .inline-save {
        background: #008dce;
        border: none;
        color: #fff;
        line-height: 40px;
        height: 40px;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;

        i {
            padding-right: 15px;
        }

        &:focus,
        &:hover {
            background: lighten(#008dce, 10%);
        }
    }

    .inline-save {
        margin-bottom: 40px;
    }

    .bottom-save.absolute {
        bottom: -45px;
        position: absolute;
        right: 10px;
    }

    .inline-save,
    input[type="file"].import-export-file {
        margin-top: 15px;
    }

    .anps-admin-content {
        background: #fff;
        border-bottom: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        color: #87867b;
        display: table-cell;
        font-family: Arial;
        position: relative;
        width: 100%;

        @media (max-width: $screen-lg) {
            max-width: calc(100% - 50px);
        }

        @media (min-width: $screen-lg) {
            max-width: calc(100% - 290px);
        }

        p {
            font-size: 12px;
        }

        $padding-right-mobile: 15px;
        $padding-right: 65px;

        .content-inner {
            background-color: #fff;
            padding: 15px $padding-right-mobile;
            position: relative;
            z-index: 11;

            @media (min-width: $screen-sm) {
                padding: 15px $padding-right 150px 40px;
            }
        }

        h3 {
            background: none repeat scroll 0 0 #008dce;
            color: #fff;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
            margin-bottom: 30px;
            margin-right: -$padding-right-mobile;
            padding: 10px 10px 10px 18px;
            text-transform: uppercase;

            @media (min-width: $screen-sm) {
                margin-right: -$padding-right;
            }

            i {
                margin-right: 15px;
            }
        }

        h4 {
            color: #87867b;
            font-family: arial;
            font-size: 14px;
            font-weight: normal;
            line-height: 20px;
            margin: 0 0 6px;
            margin-top: 30px;
            text-transform: uppercase;

            span {
                color: #008dce;
                font-weight: bold;
            }
        }

        .bg-blue {
            background: #008dce;
            color: #fff;
            margin-top: 10px;
            padding: 20px;

            p {
                color: #fff;
                font-size: 12px;
                padding-top: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .blue {
            color: #008dce;
            font-weight: bold;
        }

        .anps-label {
            margin-bottom: 15px;
        }

        label {
            color: #87867b;
            display: block;
            font-size: 14px;
            font-weight: normal;
            line-height: 16px;
        }

        .content-bottom {
            background: none repeat scroll 0 0 #f6f6f6;
            border: none !important;
            bottom: 0;
            left: 0;
            padding: 42px 0 29px;
            position: absolute;
            right: 0;
        }

        input[type="submit"] {
            background: none repeat scroll 0 0 #008dce;
            border: none;
            color: #fff;
            font-size: 14px;
            line-height: 16px;
            margin: 0 60px 0 0;
            padding: 10px;
        }

        input[type="submit"]:hover {
            background: lighten(#008dce, 10%);
        }

        input[type="checkbox"] + label,
        input[type="radio"] + label {
            display: inline-block;
            margin-right: 10px;
            padding: 5px;
            vertical-align: top;
        }

        .color-pick-color {
            border: 1px solid #ddd;
            cursor: pointer;
            height: 37px;
            margin: 0 3% 0 0;
            min-width: 40px;
            width: 40px;
        }

        select {
            height: 38px;
            line-height: 38px;
            padding: 0 7px;
            width: 100%;
        }

        .anps-editor-wrapper {
            height: 200px;
            margin-top: 40px;
            min-height: 600px;
            position: relative;
            width: 96%;
        }

        .anps-editor {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        .admin-pattern-item {
            appearance: none;
            background-repeat: repeat;
            border: 1px solid #ccc;
            border: none;
            cursor: pointer;
            float: left;
            height: 55px;
            margin: 0 2px 3px;
            overflow: hidden;
            position: relative;
            text-indent: -999px;
            width: 55px;

            &::after {
                border: 1px solid #ccc;
                content: "";
                left: 0;
                height: 100%;
                position: absolute;
                top: 0;
                transition: .2s border-color ease-in-out;
                width: 100%;
            }
        }

        .admin-pattern-item:nth-child(1) {
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
        }

        .selected-pattern,
        .admin-pattern-item:hover,
        .admin-pattern-item:focus {
            &::after {
                border: 2px solid #2187c0;
            }
        }
    }
    .boxed-checkbox {
        .anps-checkbox {
            margin-bottom: 0;
        }

        .anps-checkbox input:not(:checked) {
            float: left;
            margin-bottom: 40px;

            @media (min-width: 768px) {
                margin-bottom: 50px;
            }
        }
    }

    /* fields */

    input,
    select {
        color: #666;
    }

    .anps-select select {
        width: 100%;
    }

    /* color pallete */

    .palette {
        cursor: pointer;
        padding: 25px 10px 25px 0;
        transition: .3s opacity;

        &:focus,
        &:hover {
            opacity: .8;
        }

        .colorspan {
            display: inline-block;
            height: 20px;
            margin-right: 20px;
            vertical-align: top;
            width: 50px;
        }

        &.active {
            background: #f8f8f8;
            margin-left: -20px;
            padding-left: 20px;
        }
    }

    /* Flex row */

    .row-flex {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
    }

    .row-flex > * {
        float: none;
    }

    /* color input */

    .color-input {
        label {
            display: block;
        }

        input {
            color: #666;
            display: inline-block;
            float: none;
            line-height: 16px;
            max-width: calc(100% - 50px);
            padding: 10px 5px;
            width: 100%;

            &:not(.color-pick) {
                margin-right: 10px;
            }
        }
    }

    /* number input */

    .anps-number-wrap {
        position: relative;
    }

    .anps-number {
        position: relative;

        label {
            display: block;
        }

        input {
            height: 38px;
            line-height: 38px;
            padding: 0 7px;
            width: calc(100% - 48px);
        }

        span {
            color: #444;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        &.anps-number-small {
            min-height: 0 !important;
        }
    }

    /* Font subsets */

    .font_subsets {
        line-height: 24px;
        margin-bottom: 30px;
        margin-top: 15px;

        > input {
            line-height: 24px;
            margin-right: 6px;
            vertical-align: top;
        }
    }

    /* File */

    input[type="file"] {
        border: 1px solid #ddd;
        border-radius: 0;
        color: #666;
        margin: 0;
        max-width: 335px;
        padding: 10px 5px;
    }

    /* img upload */

    .anps_upload {
        position: relative;
        width: 100%;

        .preview-img {
            background: #f7f7f7;
            margin-bottom: 20px;
            padding: 20px;

            img {
                height: auto;
                max-width: 100%;
            }
        }

        input[type="text"] {
            height: 38px;
            line-height: 38px;
            padding: 0 7px;
            padding-right: 50px;
            width: 100%;
        }

        input.upload_image_button {
            background: transparent;
            border: none;
            color: #008dce;
            cursor: pointer;
            font-family: fontawesome;
            height: 39px;
            margin-right: 1px;
            margin-top: 1px;
            position: absolute;
            right: 0;
            width: 50px;
            z-index: 1;

            &:hover {
                color: #008fff;
                cursor: pointer;
            }
        }
    }

    /* Text field */

    .anps-text {
        min-width: 60%;

        input {
            line-height: 38px;
            height: 38px;
            padding: 0 7px;
        }
    }

    /* Checkbox */

    .anps-checkbox {
        display: inline-block;
        position: relative;
        width: 100%;

        label {
            display: block;
            padding: 0;
        }
    }

    .anps-checkbox-wrap {
        height: 38px;
    }

    /* radiobutton */

    .anps-radio {
        img {
            height: auto;
            position: relative;
            width: 100%;

            + input[type="radio"] {
                visibility: hidden;
            }
        }
    }

    .wp-editor-wrap {
        margin-bottom: 20px;
    }

    .anps_upload,
    .anps-checkbox,
    .anps-number,
    .anps-select,
    .anps-text,
    .anps-textarea,
    .color-input {
        margin-bottom: 30px;

        label {
            margin-bottom: 15px;
        }
    }

    .anps-desc {
        margin-bottom: 30px;
    }

    input + p {
        margin-top: 5px;
    }

    .admin-patern-select {
        margin: 15px 0;
    }

    .patern-type {
        margin: 15px 0;
    }
}

/* small devices menu hover */

@media (max-width: $screen-lg) {
    .anps-admin .anps-admin-menu li a span {
        border: none;
        display: inline-block !important;
        height: 51px;
        left: 50px;
        line-height: 50px;
        opacity: 0;
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
        top: 0;
        transform: translateX(-100%);
        transition: all .5s;
        white-space: nowrap;
        width: auto;
        z-index: 12;
    }

    .anps-admin .anps-admin-menu li a i {
        z-index: 13;
    }

    .anps-admin .anps-admin-menu li a:hover {
        span {
            background: #008dce;
            color: #fff;
            opacity: 1;
            transform: translateX(0);
        }

        i {
            background: #008dce;
            color: #fff;
            display: block;
        }
    }
}

/* Coder editor */

.anps-editor-wrapper {
    min-height: 600px;
}

.anps-admin .padding-bottom {
    padding-bottom: 30px;
}

.anps-admin .no-margin {
    margin: 0 !important;
}

.absolute.fullscreen.importspin {
    background: rgba(255, 255, 255, .8);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .3s;
    visibility: hidden;

    > .table {
        display: table;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        width: 100%;

        > .table-cell {
            display: table-cell;
            text-align: center;
            vertical-align: middle;

            .messagebox {
                background: rgba(255, 255, 255, .8);
                border: 1px solid #87867b;
                float: none;
                margin: auto;
                max-height: 400px;
                max-width: 600px;
                padding: 50px;
            }
        }
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

.btn,
.btn:focus,
.btn:hover {
    text-decoration: none;
}

.anps-admin .anps-admin-content .button-wrap {
    background-color: #f7f7f7;
    margin-bottom: 40px;
    margin-left: 0;

    h4 {
        margin-bottom: 20px;
    }
}

/* Import success message */

.import-success-subtitle,
.import-success-title {
    text-align: center;
}

.import-success-title {
    color: #000;
    font-size: 24px;
    margin-top: 35px;
}

.import-success-subtitle {
    font-size: 16px;
    padding-top: 0;
}

/* dummy content */

.anps-admin .dummy-options {
    color: #fff;
    margin-top: 20px;

    .dummy {
        margin-bottom: 40px;
    }

    input[type="submit"].dummy {
        margin-top: 0;
        padding: 0;
    }

    footer > a,
    footer > input[type="submit"],
    h4 {
        color: #fff;
        display: block;
        font-family: arial;
        font-size: 14px;
        line-height: 37px;
        margin: 0;
        text-transform: none;
    }

    h4 {
        background: #000;
        padding-left: 20px;
    }

    footer > a {
        background: #008dce;
        display: inline-block;
        float: none;
        text-align: center;
        width: 50%;

        &:hover {
            background: #019fe8;
        }
    }

    footer > input[type="submit"] {
        background: #252525;
        display: inline-block;
        float: none;
        text-align: center;
        width: 50%;

        &:hover {
            background: #383737;
        }
    }

    img {
        height: auto;
        width: 100%;
    }

    &.already-imported {
        opacity: .3;
    }
}

/* custom pages */

.headerstyles input[type="radio"] {
    visibility: hidden;
}

.headerstyles:first-of-type {
    .imagewrap {
        border: 2px transparent;
        margin: 40px auto;
        width: 55%;
    }

    &::before {
        background: url("../anps-framework/images/horizontal-menu.jpg") no-repeat;
        background-size: cover;
        bottom: 15px;
        content: "";
        left: 15px;
        opacity: .3;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}

.headerstyles:last-of-type {
    &::before {
        background: url("../anps-framework/images/vertical-header.jpg") no-repeat;
        background-size: cover;
        bottom: 15px;
        content: "";
        left: 15px;
        opacity: .3;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}

.headerstyles::before {
    transition: opacity .3s ease-in-out;
}

.headerstyles.selected::before,
.headerstyles:hover::before {
    opacity: .7;
}

.headerstyles .imagewrap {
    background: transparent;
    margin: 40px auto;
    padding: 10px;
    position: relative;
    width: 55%;
}

.headerstyles.selected .imagewrap {
    background: #008dce;
}

.show-verticallayout {
    overflow: visible !important;
}

.shadow {
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, .07);
    margin-top: 20px;
}

.anps-textarea textarea {
    margin-top: 20px;
    width: 100%;
}

#anps_page_meta table,
table.anps-sidebars {
    width: 100%;

    td {
        height: 40px;
        text-align: left;
        width: 50%;
    }
}

/* spacing widget admin form */

.spacing-w {
    display: block;
    margin: 20px 0 40px;

    input {
        width: 66%;
    }
}

a:focus {
    text-decoration: none !important;
}

.w-255 {
    width: 255px;
}

.w-350 {
    width: 350px;
}

.margin-l-5 {
    margin-left: 5px !important;
}

.top-margin-70 {
    margin-top: 70px;
}

.font-size-30 {
    font-size: 30px !important;
}

.no-border {
    border: none;
}

.text-center {
    text-align: center;
}

.palette-1 {
    background: #3498db;
}

.palette-2 {
    background: #f2881d;
}

.palette-3 {
    background: #89c218;
}

.palette-4 {
    background: #e82a2a;
}

.palette-5 {
    background: #f7c51e;
}

/* Alert */

@import "variables";
@import "components/alerts";

.anps-admin-content.dummy_content .alert {
    margin-top: 20px;
}

/* System Requirements */

.system-req {
    border-top: 1px solid #efefef;
    margin-top: 30px;
    width: 100%;

    td {
        color: #89d024;
    }

    td,
    th {
        padding: 11px 15px;
    }

    tbody th {
        min-width: 160px;
    }

    tbody tr:nth-of-type(2n-1) {
        background-color: #efefef;
    }

    .invalid {
        .system-req-current,
        .system-req-icon {
            color: #f00;
        }
    }

    th {
        font-weight: normal;
    }
}

/* revolution slider update message */

tr[data-slug="slider-revolution"] + .plugin-update-tr .update-message.installer-q-icon {
    display: none;
}

/* 20% columns */

@media (min-width: $screen-md) {
    .row .col-md-fifth {
        width: 20%;
    }
}

/* Theme Upgrade */

.anps-admin .anps-admin-content.theme_upgrade,
.anps-admin .anps-admin-content.google_maps {
    p {
        font-size: 14px;
    }

    ul {
        list-style: disc;
        margin-top: 20px;
        padding-left: 30px;
    }
}

/* Button maker */

.button-maker {
    &__item {
        margin-bottom: 30px;
    }

    &__header {
        align-items: center;
        background-color: #efefef;
        padding: 12px 20px;
        position: relative;

        @media (min-width: 1300px) {
            display: flex;
            height: 45px;
            padding: 0 20px;
        }
    }

    &__pos {
        padding-left: 33px;
        position: relative;

        @media (max-width: 1299px) {
            display: inline-block;
            margin-top: 12px;
        }

        @media (min-width: 1300px) {
            padding-left: 43px;
        }

        label, input {
            display: inline-block !important;
            margin: 0;
        }

        input {
            display: none !important;

            &:checked + label::after {
                opacity: 1;
            }
        }

        label {
            user-select: none;

            &::before,
            &::after {
                height: 28px;
                left: 0;
                line-height: 28px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 28px;

                @media (min-width: 1300px) {
                    left: 10px;
                }
            }

            &::after {
                color: #1a8bcd;
                content: "\f00c";
                font-family: FontAwesome;
                opacity: 0;
                text-align: center;
            }

            &::before {
                background-color: #fff;
                content: "";
            }
        }
    }

    &__name {
        input {
            appearance: none;
            background: #fff;
            border: 1px solid #eee;
            height: 30px;
            line-height: 30px;
            margin-top: 5px;
            padding: 0 10px;
            transition: .2s border-color;
            width: 170px;

            @media (min-width: 560px) {
                margin-left: 5px;
                margin-top: 0;
            }

            &:focus {
                border-color: #ccc;
                outline: none;
            }
        }

        @media (max-width: 559px) {
            span {
                display: block;
            }
        }
    }

    &__input {
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
        color: #666;
        display: inline-block;
        max-width: 100%;
        height: 38px !important;
        line-height: 38px !important;
        padding: 0 5px;
        width: 100%;

        &--color {
            float: left;
            width: calc(100% - 50px);
        }
    }

    &__color-preview {
        border: 1px solid #ddd;
        cursor: pointer;
        float: left;
        height: 38px;
        margin-right: 10px;
        width: 38px;
    }

    &__preview {
        background-color: #f7f7f7;
        padding: 30px 20px 10px;
    }

    &__remove {
        appearance: none;
        background: none;
        border: none;
        font-size: 16px;
        height: 45px;
        position: absolute;
        right: 5px;
        top: 0;
        transition: .2s color;
        width: 45px;

        &:hover,
        &:focus {
            color: #ff646e;
        }
    }

    &__options {
        background-color: #f7f7f7;
        display: flex;
        flex-wrap: wrap;
        padding: 15px;

        label {
            margin-bottom: 15px;
        }
    }

    &__col {
        padding: 7px 15px;
        width: 100%;

        @media (min-width: 768px) {
            width: 50%;
        }

        @media (min-width: 1000px) {
            width: 33.333%;
        }

        @media (min-width: 1400px) {
            width: 25%;
        }
    }

    &__add {
        margin-bottom: 30px;

        > * {
            display: inline-block !important;
            margin: 0;
            vertical-align: middle;
        }

        label {
            margin-right: 30px;

            @media (max-width: 650px) {
                display: block !important;
                margin-bottom: 15px;
            }
        }

        select {
            width: 200px !important;
        }

        button {
            appearance: none;
            background: none repeat scroll 0 0 #008dce;
            border: 1px solid #008dce;
            color: #fff;
            font-size: 14px;
            line-height: 16px;
            margin-left: 12px;
            padding: 10px;
        }
    }
}

.anps-option-disable {
    opacity: .5;
    pointer-events: none;
}

.anps-option-hide {
    display: none;
}

.anps-customize-title {
    border-top: 1px solid #e1e1e1;
    display: block;
    color: #000;
    margin: 5px -12px 0;
    padding: 15px 12px 0;

    .anps-desc {
        color: #777;
    }
}

.control-section > li:nth-child(2) .anps-customize-title {
    border: none;
    margin: 0;
    padding: 0;
}

#gallery_images .image {width: 23%;margin:0 1%;float: left}
#gallery_images ul:after {content: "";display: table;clear: both;}
#gallery_images .image img {max-width: 100%;height: 50px;}

/* Whitelist */

.postbox .inside,
#anps_ico_listing_ico_details_meta .inside {
    margin: 25px 0 0 !important;
}

.anps_whitelist_data_row,
.anps_ico_listing_data_row {
    display: flex;
    margin-bottom: 15px;

    input[type=text] {
        @media (max-width: 599px) {
            width: 100% !important;
        }
    }
}

.anps_whitelist_data_row label,
.anps_ico_listing_data_row label {
    min-width: 30%;
    margin-right: 20px;
}

.preview-img {
    max-width: 300px;
}
